schema/de/wegaDiaries.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <!-- This file generated 2016-05-31T16:44:43Z by 'extract-isosch.xsl'. -->

   <!-- ********************* -->
   <!-- namespaces, declared: -->
   <!-- ********************* -->


   <!-- ********************* -->
   <!-- namespaces, implicit: -->
   <!-- ********************* -->
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>

   <!-- ************ -->
   <!-- constraints: -->
   <!-- ************ -->
   <pattern id="wegaDiaries-att.written-hand-constraint-hand-reference-1">
                            <rule context="tei:*[@hand]">
                                <assert test="id(substring(@hand,2)) or starts-with(@hand, 'wega:')">There must be an element with the xml:id = "<value-of select="substring(@hand,2)"/>" which is the target of this @hand.</assert>
                            </rule>
                        </pattern>
   <pattern id="wegaDiaries-att.datable.w3c-constraint-att-datable-w3c-when-2">
      <rule context="tei:*[@when]">
        <report test="@notBefore|@notAfter|@from|@to" role="nonfatal">The @when attribute cannot be used with any other att.datable.w3c attributes.</report>
      </rule>
    </pattern>
   <pattern id="wegaDiaries-att.datable.w3c-constraint-att-datable-w3c-from-3">
      <rule context="tei:*[@from]">
        <report test="@notBefore" role="nonfatal">The @from and @notBefore attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="wegaDiaries-att.datable.w3c-constraint-att-datable-w3c-to-4">
      <rule context="tei:*[@to]">
        <report test="@notAfter" role="nonfatal">The @to and @notAfter attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="wegaDiaries-att.datable-calendar-constraint-calendar-5">
          <rule context="tei:*[@calendar]">
            <assert test="string-length(.) gt 0">
@calendar indicates the system or calendar to which the date represented by the content of this element
belongs, but this <name/> element has no textual content.</assert>
          </rule>
        </pattern>
   <pattern id="wegaDiaries-att.typed-constraint-subtypeTyped-6">
      <rule context="tei:*[@subtype]">
        <assert test="@type">The <name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</assert>
      </rule>
    </pattern>
   <pattern id="wegaDiaries-att.spanning-spanTo-constraint-spanTo-2-7">
          <rule context="tei:*[@spanTo]">
            <assert test="id(substring(@spanTo,2)) and following::*[@xml:id=substring(current()/@spanTo,2)]">
The element indicated by @spanTo (<value-of select="@spanTo"/>) must follow the current element <name/>
                  </assert>
          </rule>
        </pattern>
   <pattern id="wegaDiaries-p-constraint-abstractModel-p-8">
      <rule context="tei:p">
                    <report test="(ancestor::tei:p or ancestor::tei:ab)                          and not(parent::tei:exemplum                         |parent::tei:item                         |parent::tei:note                         |parent::tei:q                         |parent::tei:quote                         |parent::tei:remarks                         |parent::tei:said                         |parent::tei:sp                         |parent::tei:stage                         |parent::tei:cell                         |parent::tei:figure                         |parent::tei:footNote)">
                        Abstract model violation: Paragraphs may not contain other paragraphs or ab elements.
                    </report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-p-constraint-abstractModel-structure-l-9">
      <rule context="tei:p">
         <report test="ancestor::tei:l[not(.//tei:note//tei:p[. = current()])]">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab.
      </report>
      </rule>
   </pattern>
   <pattern id="wegaDiaries-gap-constraint-gap-unit-quantity-10">
      <rule context="tei:gap">
                    <report test="(@unit and not(@quantity)) or (@quantity and not(@unit))">@unit and @quantity must both be given!</report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-rs-constraint-rs-typeNkey-11">
                    <rule context="tei:rs[@type][@key]">
                        <assert test="                             (matches(@key, '^A00[0-9A-F]{4}$') and @type='person') or                             (matches(@key, '^A02\d{4}$') and @type='work') or                             (matches(@key, '^A03\d{4}$') and @type='writing') or                             (matches(@key, '^A04\d{4}$') and @type='letter') or                             (matches(@key, '^A06\d{4}$') and @type='diaryDay') or                             (matches(@key, '^(A00[0-9A-F]{4}\s)*A00[0-9A-F]{4}$') and @type='persons') or                             (matches(@key, '^(A02\d{4}\s)*A02\d{4}$') and @type='works') or                             (matches(@key, '^(A03\d{4}\s)*A03\d{4}$') and @type='writings') or                             (matches(@key, '^(A04\d{4}\s)*A04\d{4}$') and @type='letters') or                             (matches(@key, '^(A05\d{4}\s)*A05\d{4}$') and @type='news') or                             (matches(@key, '^(A06\d{4}\s)*A06\d{4}$') and @type='diaryDays') or                             (matches(@key, '^A08\d{4}$') and @type='org') or                             (matches(@key, '^(A08\d{4}\s)*A08\d{4}$') and @type='orgs') or                             (matches(@key, '^(A11\d{4}\s)*A11\d{4}$') and @type='biblio')">Type mismatch: The value for @type must be in accordance with the given ID in @key</assert>
                    </rule>
                </pattern>
   <pattern id="wegaDiaries-date-constraint-dateHeuristics1-12">
      <rule context="tei:date">
                    <report test="(@notBefore gt @notAfter) and not(starts-with(@notBefore, '-'))">value of notBefore greater than notAfter</report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-date-constraint-dateHeuristics2-13">
      <rule context="tei:date">
                    <report test="(@notBefore lt @notAfter) and starts-with(@notBefore, '-')">value of notBefore smaller than notAfter</report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-date-constraint-dateHeuristics3-14">
      <rule context="tei:date">
                    <report test="(@from or @to) and (@when or @notAfter or @notBefore)">cooccurence of date and duration attributes</report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-date-constraint-dateHeuristics4-15">
      <rule context="tei:date">
                    <report test="@when and (@notAfter or @notBefore)">cooccurence of exact and uncertain date attributes</report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-date-constraint-dateHeuristics5-16">
      <rule context="tei:date">
                    <assert test="@when or @notBefore or @notAfter or @from or @to or @cert='unknown' or matches(., '0000|o\.J\.|unknown') or ancestor::tei:text">tei:date benötigt ein Attribut @when, @notBefore o.ä.</assert>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-ref-constraint-prev-next-correspContext-17">
      <rule context="tei:ref">
                    <report test="@type=('previous', 'next') and not(parent::tei:correspContext)">previous and next are only used within the correspContext element.</report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-ref-constraint-refAtts-18">
      <rule context="tei:ref">
         <report test="@target and @cRef">Only one of the
	attributes @target' and @cRef' may be supplied on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="wegaDiaries-note-constraint-note-in-text-19">
                    <rule context="tei:note[not(parent::tei:org or parent::tei:person or parent::tei:notesStmt or parent::tei:biblStruct or parent::tei:imprint)]">
                        <assert test="@type and @resp and @xml:id">It is required to provide @type and @resp and @xml:id on note.</assert>
                    </rule>
                </pattern>
   <pattern id="wegaDiaries-note-constraint-thematicCom-target-20">
                    <rule context="tei:note[@type='thematicCom' or @target]">
                        <assert test="@type='thematicCom' and @target">You need to provide thematic commentary targets (Only @type='thematicCom' and @target go together!).</assert>
                    </rule>
                </pattern>
   <pattern id="wegaDiaries-note-constraint-notesStmt-notes-21">
                    <rule context="tei:note[parent::tei:notesStmt]">
                        <assert test="@type=('editorial', 'summary', 'thematicCom', 'part', 'incipit')">Within the notesStmt only 'editorial', 'summary', 'part' or 'thematicCom' are allowed for @type on note.</assert>
                    </rule>
                </pattern>
   <pattern id="wegaDiaries-pb-facs-constraint-facs-reference-22">
                            <rule context="tei:*[@facs]">
                                <assert test="id(substring(@facs,2)) or starts-with(@facs, 'wega:')">There must be an element with the xml:id = "<value-of select="substring(@facs,2)"/>" which is the target of this @facs.</assert>
                            </rule>
                        </pattern>
   <pattern id="wegaDiaries-title-constraint-duplicate-title-23">
                    <rule context="tei:title[following-sibling::tei:title]">
                        <let name="level" value="@level"/>
                        <let name="type" value="string(@type)"/> 
                        <let name="lang" value="string(@xml:lang)"/>
                        <report test="following-sibling::tei:title[@level = $level][string(@xml:lang) = $lang][string(@type) = $type]">Following title without differing @type or xml:lang attribute</report>
                    </rule>
                </pattern>
   <pattern id="wegaDiaries-title-constraint-punctuation-mark-24">
      <rule context="tei:title">
                    <report test="matches(normalize-space(self::tei:title), '[\.,;]$') and not(matches(normalize-space(self::tei:title), '((\p{Lu})|(\setc)|(\sal)|([\s\.]a)|(\sBl)|(\sAufl))\.$'))">Found a non-valid punctuation mark at the end of <name/> 
         </report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-orgName-constraint-parent-org-25">
                    <rule context="tei:orgName[parent::tei:org]">
                        <report test="@key or not(@type)">It is required to give the type ('alt' or 'reg') of the name while @key is forbiden here.</report>
                    </rule>
                </pattern>
   <pattern id="wegaDiaries-orgName-constraint-parent-org-reg-26">
                    <rule context="tei:orgName[parent::tei:org and not(preceding::tei:orgName)]">
                        <assert test="@type='reg'">There must exactly be one name with @type='reg'.</assert>
                    </rule>
                </pattern>
   <pattern id="wegaDiaries-orgName-constraint-parent-org-reg-27">
                    <rule context="tei:orgName[parent::tei:org and preceding::tei:orgName]">
                        <report test="@type='reg'">Only the first name can be of @type='reg'. Following names are supposed to be alternative names, @type='alt'.</report>
                    </rule>
                </pattern>
   <pattern id="wegaDiaries-orgName-constraint-parent-not-org-28">
                    <rule context="tei:orgName[not(parent::tei:org)]">
                        <report test="@type">No @type attribute allowed here.</report>
                    </rule>
                </pattern>
   <pattern id="wegaDiaries-addSpan-constraint-spanTo-29">
      <rule context="tei:addSpan">
         <assert test="@spanTo">The @spanTo attribute of <name/> is required.</assert>
      </rule>
   </pattern>
   <pattern id="wegaDiaries-addSpan-spanTo-constraint-spanTo-7-31">
                            <rule context="tei:*[@spanTo]">
                                <assert test="id(substring(@spanTo,2)) and following::*[@xml:id=substring(current()/@spanTo,2)]">
                                    The element indicated by @spanTo (<value-of select="@spanTo"/>) must follow the current element <name/>
                                </assert>
                            </rule>
                        </pattern>
   <pattern id="wegaDiaries-subst-constraint-substContents1-32">
      <rule context="tei:subst">
         <assert test="child::tei:add and child::tei:del">
            <name/> must have at least one child add and at least one child del</assert>
      </rule>
   </pattern>
   <pattern id="wegaDiaries-ab-constraint-abstractModel-structure-p-33">
      <rule context="tei:ab">
         <report test="(ancestor::tei:p or ancestor::tei:ab)          and not(parent::tei:exemplum         |parent::tei:item         |parent::tei:note         |parent::tei:q         |parent::tei:quote         |parent::tei:remarks         |parent::tei:said         |parent::tei:sp         |parent::tei:stage         |parent::tei:cell         |parent::tei:figure)">
        Abstract model violation: ab may not contain paragraphs or other ab elements.
      </report>
      </rule>
   </pattern>
   <pattern id="wegaDiaries-ab-constraint-abstractModel-structure-l-34">
      <rule context="tei:ab">
         <report test="ancestor::tei:l or ancestor::tei:lg">
        Abstract model violation: Lines may not contain higher-level divisions such as p or ab.
      </report>
      </rule>
   </pattern>
   <pattern id="wegaDiaries-seg-constraint-activeOrPassivePerformance-35">
      <rule context="tei:seg">
                    <report test="./@subtype = ('active', 'passive') and not(./@type = 'performance')">if @subtype contains 'active' or 'passive' @type has to be 'performance'</report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-seg-constraint-AddresseeOrSenderCorrespondence-36">
      <rule context="tei:seg">
                    <report test="./@subtype = ('sender', 'addressee') and not(./@type = 'correspondence')">if @subtype contains 'sender' or 'addressee' @type has to be 'correspondence'</report>
                </rule>
   </pattern>
   <pattern id="wegaDiaries-constraint-whitespaceOnlyContent-37">
                <rule context="tei:surname | tei:forename | tei:persName | tei:author[not(@sameAs)] | tei:occupation | tei:settlement | tei:country | tei:region | tei:rs | tei:workName | tei:characterName | tei:hi[not(.//tei:gap)] | tei:head | tei:note[not(@type=('part', 'thematicCom'))] | tei:placeName | tei:title | tei:seg | tei:item[not(@* or *)]">
                    <report test="normalize-space(.) = ''">
            <name/> has whitespace only content</report>
                </rule>
            </pattern>
   <pattern id="wegaDiaries-constraint-elementStartsWithWhitespace-38">
                <rule context="tei:surname | tei:forename | tei:persName[not(@type)] | tei:author | tei:occupation | tei:settlement | tei:country | tei:region | tei:rs | tei:workName | tei:characterName | tei:hi | tei:placeName[not(parent::tei:address or parent::tei:birth or parent::tei:death)]">
                    <report test="matches(.,'^\s') and (node()[1] = text()[1])">whitespace at the beginning of element <name/>
         </report>
                </rule>
            </pattern>
   <pattern id="wegaDiaries-att.wega.rend-constraint-underline-n-39">
                    <rule context="*:hi[@n] | *:rend[@n]">
                        <report test="@rend ne 'underline'">The @n-attribute is only supported in combination with @rend='underline'</report>
                    </rule>
                </pattern>
</schema>
