schema/de/wegaWritings.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <!-- This file generated 2016-11-07T14:58:24Z by 'extract-isosch.xsl'. -->

   <!-- ********************* -->
   <!-- namespaces, declared: -->
   <!-- ********************* -->
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
   <ns prefix="xs" uri="http://www.w3.org/2001/XMLSchema"/>
   <ns prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>

   <!-- ********************* -->
   <!-- namespaces, implicit: -->
   <!-- ********************* -->
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>

   <!-- ************ -->
   <!-- constraints: -->
   <!-- ************ -->
   <pattern id="wegaWritings-att.written-hand-constraint-hand-reference-1">
                            <rule context="tei:*[@hand]">
                                <assert test="id(substring(@hand,2)) or starts-with(@hand, 'wega:')">There must be an element with the xml:id = "<value-of select="substring(@hand,2)"/>" which is the target of this @hand.</assert>
                            </rule>
                        </pattern>
   <pattern id="wegaWritings-att.datable.w3c-constraint-att-datable-w3c-when-2">
      <rule context="tei:*[@when]">
        <report test="@notBefore|@notAfter|@from|@to" role="nonfatal">The @when attribute cannot be used with any other att.datable.w3c attributes.</report>
      </rule>
    </pattern>
   <pattern id="wegaWritings-att.datable.w3c-constraint-att-datable-w3c-from-3">
      <rule context="tei:*[@from]">
        <report test="@notBefore" role="nonfatal">The @from and @notBefore attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="wegaWritings-att.datable.w3c-constraint-att-datable-w3c-to-4">
      <rule context="tei:*[@to]">
        <report test="@notAfter" role="nonfatal">The @to and @notAfter attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="wegaWritings-att.datable-calendar-constraint-calendar-5">
          <rule context="tei:*[@calendar]">
            <assert test="string-length(.) gt 0">
@calendar indicates the system or calendar to which the date represented by the content of this element
belongs, but this <name/> element has no textual content.</assert>
          </rule>
        </pattern>
   <pattern id="wegaWritings-att.typed-constraint-subtypeTyped-6">
      <rule context="tei:*[@subtype]">
        <assert test="@type">The <name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</assert>
      </rule>
    </pattern>
   <pattern id="wegaWritings-att.spanning-spanTo-constraint-spanTo-2-7">
          <rule context="tei:*[@spanTo]">
            <assert test="id(substring(@spanTo,2)) and following::*[@xml:id=substring(current()/@spanTo,2)]">
The element indicated by @spanTo (<value-of select="@spanTo"/>) must follow the current element <name/>
                  </assert>
          </rule>
        </pattern>
   <pattern id="wegaWritings-p-constraint-abstractModel-p-8">
      <rule context="tei:p">
                    <report test="(ancestor::tei:p or ancestor::tei:ab)                          and not(parent::tei:exemplum                         |parent::tei:item                         |parent::tei:note                         |parent::tei:q                         |parent::tei:quote                         |parent::tei:remarks                         |parent::tei:said                         |parent::tei:sp                         |parent::tei:stage                         |parent::tei:cell                         |parent::tei:figure                         |parent::tei:footNote)">
                        Abstract model violation: Paragraphs may not contain other paragraphs or ab elements.
                    </report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-p-constraint-abstractModel-structure-l-9">
      <rule context="tei:p">
         <report test="ancestor::tei:l[not(.//tei:note//tei:p[. = current()])]">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab.
      </report>
      </rule>
   </pattern>
   <pattern id="wegaWritings-gap-constraint-gap-unit-quantity-10">
      <rule context="tei:gap">
                    <report test="(@unit and not(@quantity)) or (@quantity and not(@unit))">@unit and @quantity must both be given!</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-rs-constraint-rs-typeNkey-11">
                    <rule context="tei:rs[@type][@key]">
                        <assert test="                             (matches(@key, '^A00[0-9A-F]{4}$') and @type='person') or                             (matches(@key, '^A02\d{4}$') and @type='work') or                             (matches(@key, '^A03\d{4}$') and @type='writing') or                             (matches(@key, '^A04\d{4}$') and @type='letter') or                             (matches(@key, '^A06\d{4}$') and @type='diaryDay') or                             (matches(@key, '^(A00[0-9A-F]{4}\s)*A00[0-9A-F]{4}$') and @type='persons') or                             (matches(@key, '^(A02\d{4}\s)*A02\d{4}$') and @type='works') or                             (matches(@key, '^(A03\d{4}\s)*A03\d{4}$') and @type='writings') or                             (matches(@key, '^(A04\d{4}\s)*A04\d{4}$') and @type='letters') or                             (matches(@key, '^(A05\d{4}\s)*A05\d{4}$') and @type='news') or                             (matches(@key, '^(A06\d{4}\s)*A06\d{4}$') and @type='diaryDays') or                             (matches(@key, '^A08\d{4}$') and @type='org') or                             (matches(@key, '^(A08\d{4}\s)*A08\d{4}$') and @type='orgs') or                             (matches(@key, '^(A11\d{4}\s)*A11\d{4}$') and @type='biblio') or                             (matches(@key, '^A10\d{4}$') and @type='document') or                             (matches(@key, '^(A10\d{4}\s)*A10\d{4}$') and @type='documents')">Type mismatch: The value for @type must be in accordance with the given ID in @key</assert>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-date-constraint-dateHeuristics1-12">
      <rule context="tei:date">
                    <report test="(@notBefore gt @notAfter) and not(starts-with(@notBefore, '-'))">value of notBefore greater than notAfter</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-date-constraint-dateHeuristics2-13">
      <rule context="tei:date">
                    <report test="(@notBefore lt @notAfter) and starts-with(@notBefore, '-')">value of notBefore smaller than notAfter</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-date-constraint-dateHeuristics3-14">
      <rule context="tei:date">
                    <report test="(@from or @to) and (@when or @notAfter or @notBefore)">cooccurence of date and duration attributes</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-date-constraint-dateHeuristics4-15">
      <rule context="tei:date">
                    <report test="@when and (@notAfter or @notBefore)">cooccurence of exact and uncertain date attributes</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-date-constraint-dateHeuristics5-16">
      <rule context="tei:date">
                    <assert test="@when or @notBefore or @notAfter or @from or @to or @cert='unknown' or matches(., '0000|o\.J\.|unknown') or ancestor::tei:text">tei:date benötigt ein Attribut @when, @notBefore o.ä.</assert>
                </rule>
   </pattern>
   <pattern id="wegaWritings-ptr-constraint-ptr-target-17">
                 <rule context="tei:ptr[not(starts-with(@target, 'http'))]">
                    <assert test="following::tei:note[@xml:id=substring(current()/@target,2)]">
                       The note element indicated by @target (<value-of select="@target"/>) must follow the current element <name/>. 
                        Otherwise the target must be some external URL prefixed with 'http'.
                    </assert>
                 </rule>
             </pattern>
   <pattern id="wegaWritings-ptr-constraint-duplicate-ptr-18">
      <rule context="tei:ptr">
                <report test="following::tei:ptr[@target=current()/@target]">
                   There must be only one pointer with the @target (<value-of select="@target"/>)
                </report>
             </rule>
   </pattern>
   <pattern id="wegaWritings-ptr-constraint-ptrAtts-19">
      <rule context="tei:ptr">
         <report test="@target and @cRef">Only one of the
attributes @target and @cRef may be supplied on <name/>.</report>
      </rule>
   </pattern>
   <pattern id="wegaWritings-ref-constraint-prev-next-correspContext-20">
      <rule context="tei:ref">
                    <report test="@type=('previous', 'next') and not(parent::tei:correspContext)">previous and next are only used within the correspContext element.</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-ref-constraint-refAtts-21">
      <rule context="tei:ref">
         <report test="@target and @cRef">Only one of the
	attributes @target' and @cRef' may be supplied on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="wegaWritings-list-constraint-gloss-list-22">
      <rule context="tei:list">
                    <report test="./tei:label and not(@type='gloss')">Labels are only allowed in lists of type='gloss'</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-list-constraint-gloss-list-must-have-labels-23">
      <rule context="tei:list[@type='gloss']">
	        <assert test="tei:label">The content of a "gloss" list should include a sequence of one or more pairs of a label element followed by an item element</assert>
      </rule>
    </pattern>
   <pattern id="wegaWritings-note-constraint-note-in-text-24">
                    <rule context="tei:note[not(parent::tei:org or parent::tei:person or parent::tei:notesStmt or parent::tei:biblStruct or parent::tei:imprint)]">
                        <assert test="@type and @resp and @xml:id">It is required to provide @type and @resp and @xml:id on note.</assert>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-note-constraint-thematicCom-target-25">
                    <rule context="tei:note[@type='thematicCom' or @target]">
                        <assert test="@type='thematicCom' and @target">You need to provide thematic commentary targets (Only @type='thematicCom' and @target go together!).</assert>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-note-constraint-notesStmt-notes-26">
                    <rule context="tei:note[parent::tei:notesStmt]">
                        <assert test="@type=('editorial', 'summary', 'thematicCom', 'part', 'incipit')">Within the notesStmt only 'editorial', 'summary', 'part' or 'thematicCom' are allowed for @type on note.</assert>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-graphic-constraint-graphic-url-check-27">
      <rule context="tei:graphic">
                    <assert test="matches(@url, '^[-_A-Za-z0-9\.]+$') or starts-with(@url, 'http')">Found invalid (non-ASCII) characters within @url</assert>
                </rule>
   </pattern>
   <pattern id="wegaWritings-pb-facs-constraint-facs-reference-28">
                            <rule context="tei:*[@facs]">
                                <assert test="id(substring(@facs,2)) or starts-with(@facs, 'wega:')">There must be an element with the xml:id = "<value-of select="substring(@facs,2)"/>" which is the target of this @facs.</assert>
                            </rule>
                        </pattern>
   <pattern id="wegaWritings-analytic-constraint-analyticTitle-29">
      <rule context="tei:analytic">
                    <report test="tei:title/@level and not(tei:title/@level='a')">a title within analytic must have a @level='a'</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-monogr-constraint-monogrTitle-30">
      <rule context="tei:monogr">
                    <report test="tei:title/@level and not(tei:title/@level=('j','m','u'))">a title within monogr must have a @level='j|m'</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-author-sameAs-constraint-sameAs-reference-31">
                            <rule context="tei:*[@sameAs]">
                                <assert test="id(substring(@sameAs,2)) or starts-with(@sameAs, 'wega:')">There must be an element with the xml:id = "<value-of select="substring(@sameAs,2)"/>" which is the target of this @sameAs.</assert>
                            </rule>
                        </pattern>
   <pattern id="wegaWritings-title-constraint-duplicate-title-32">
                    <rule context="tei:title[following-sibling::tei:title]">
                        <let name="level" value="@level"/>
                        <let name="type" value="string(@type)"/> 
                        <let name="lang" value="string(@xml:lang)"/>
                        <report test="following-sibling::tei:title[@level = $level][string(@xml:lang) = $lang][string(@type) = $type]">Following title without differing @type or xml:lang attribute</report>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-title-constraint-punctuation-mark-33">
      <rule context="tei:title">
                    <report test="matches(normalize-space(self::tei:title), '[\.,;]$') and not(matches(normalize-space(self::tei:title), '((\p{Lu})|(\setc)|(\sal)|([\s\.]a)|(\sBl)|(\sAufl))\.$'))">Found a non-valid punctuation mark at the end of <name/> 
         </report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-imprint-constraint-duplicate-biblScope-type-34">
      <rule context="tei:imprint">
                    <report test="count(distinct-values(tei:biblScope/@type)) ne count(tei:biblScope/@type)">duplicate value for biblScope</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-biblStruct-constraint-deprecate-altIdentifier-child-35">
      <rule context="tei:biblStruct">
         <report test="child::tei:idno" role="nonfatal">WARNING: use of deprecated method — the use of the idno element as a direct child of the biblStruct element will be removed from the TEI on 2016-09-18</report>
      </rule>
   </pattern>
   <pattern id="wegaWritings-relatedItem-constraint-targetorcontent1-36">
      <rule context="tei:relatedItem">
         <report test="@target and count( child::* ) &gt; 0">
If the @target attribute on <name/> is used, the
relatedItem element must be empty</report>
         <assert test="@target or child::*">A relatedItem element should have either a 'target' attribute
        or a child element to indicate the related bibliographic item</assert>
      </rule>
   </pattern>
   <pattern id="wegaWritings-l-constraint-abstractModel-structure-l-37">
      <rule context="tei:l">
         <report test="ancestor::tei:l[not(.//tei:note//tei:l[. = current()])]">
        Abstract model violation: Lines may not contain lines or lg elements.
      </report>
      </rule>
   </pattern>
   <pattern id="wegaWritings-lg-constraint-atleast1oflggapl-38">
      <rule context="tei:lg">
         <assert test="count(descendant::tei:lg|descendant::tei:l|descendant::tei:gap) &gt; 0">An lg element
        must contain at least one child l, lg or gap element.</assert>
      </rule>
   </pattern>
   <pattern id="wegaWritings-lg-constraint-abstractModel-structure-l-39">
      <rule context="tei:lg">
         <report test="ancestor::tei:l[not(.//tei:note//tei:lg[. = current()])]">
        Abstract model violation: Lines may not contain line groups.
      </report>
      </rule>
   </pattern>
   <pattern id="wegaWritings-fileDesc-constraint-missing-writings-title-40">
      <rule context="tei:fileDesc">
                                <assert test="tei:titleStmt/tei:title[@level='a']">Schrift hat keinen Titel</assert>
                            </rule>
   </pattern>
   <pattern id="wegaWritings-notesStmt-constraint-count-notes-41">
      <rule context="tei:notesStmt">
                    <report test="count(tei:note/@type) ne count(distinct-values(tei:note/concat(@type, @xml:lang, @n)))">Only one summary, incipit, editorial and thematicCom are allowed within notesStmt.</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-div-constraint-abstractModel-structure-l-44">
      <rule context="tei:div">
         <report test="ancestor::tei:l">
        Abstract model violation: Lines may not contain higher-level structural elements such as div.
      </report>
      </rule>
   </pattern>
   <pattern id="wegaWritings-div-constraint-abstractModel-structure-p-45">
      <rule context="tei:div">
         <report test="ancestor::tei:p or ancestor::tei:ab and not(ancestor::tei:floatingText)">
        Abstract model violation: p and ab may not contain higher-level structural elements such as div.
      </report>
      </rule>
   </pattern>
   <pattern id="wegaWritings-orgName-constraint-parent-org-46">
                    <rule context="tei:orgName[parent::tei:org]">
                        <report test="@key or not(@type)">It is required to give the type ('alt' or 'reg') of the name while @key is forbiden here.</report>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-orgName-constraint-parent-org-reg-47">
                    <rule context="tei:orgName[parent::tei:org and not(preceding::tei:orgName)]">
                        <assert test="@type='reg'">There must exactly be one name with @type='reg'.</assert>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-orgName-constraint-parent-org-reg-48">
                    <rule context="tei:orgName[parent::tei:org and preceding::tei:orgName]">
                        <report test="@type='reg'">Only the first name can be of @type='reg'. Following names are supposed to be alternative names, @type='alt'.</report>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-orgName-constraint-parent-not-org-49">
                    <rule context="tei:orgName[not(parent::tei:org)]">
                        <report test="@type">No @type attribute allowed here.</report>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-addSpan-constraint-spanTo-50">
      <rule context="tei:addSpan">
         <assert test="@spanTo">The @spanTo attribute of <name/> is required.</assert>
      </rule>
   </pattern>
   <pattern id="wegaWritings-addSpan-spanTo-constraint-spanTo-7-52">
                            <rule context="tei:*[@spanTo]">
                                <assert test="id(substring(@spanTo,2)) and following::*[@xml:id=substring(current()/@spanTo,2)]">
                                    The element indicated by @spanTo (<value-of select="@spanTo"/>) must follow the current element <name/>
                                </assert>
                            </rule>
                        </pattern>
   <pattern id="wegaWritings-subst-constraint-substContents1-53">
      <rule context="tei:subst">
         <assert test="child::tei:add and child::tei:del">
            <name/> must have at least one child add and at least one child del</assert>
      </rule>
   </pattern>
   <pattern id="wegaWritings-msIdentifier-constraint-msId_minimal-54">
      <rule context="tei:msIdentifier">
         <report test="not(parent::tei:msPart) and       (local-name(*[1])='idno' or       local-name(*[1])='altIdentifier' or       normalize-space(.)='')">An msIdentifier must contain either a repository or location of some type, or a manuscript name</report>
      </rule>
   </pattern>
   <pattern id="wegaWritings-seg-constraint-activeOrPassivePerformance-55">
      <rule context="tei:seg">
                    <report test="./@subtype = ('active', 'passive') and not(./@type = 'performance')">if @subtype contains 'active' or 'passive' @type has to be 'performance'</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-seg-constraint-AddresseeOrSenderCorrespondence-56">
      <rule context="tei:seg">
                    <report test="./@subtype = ('sender', 'addressee') and not(./@type = 'correspondence')">if @subtype contains 'sender' or 'addressee' @type has to be 'correspondence'</report>
                </rule>
   </pattern>
   <pattern id="wegaWritings-att.witnessed-constraint-att-wit-57">
                    <rule context="tei:*[@wit]">
                        <let name="wit" value="@wit"/>
                        <assert test="preceding::tei:witness[@xml:id = substring($wit, 2)]">The @wit-attribute must point at some witness element</assert>
                    </rule>
                </pattern>
   <pattern id="wegaWritings-constraint-whitespaceOnlyContent-58">
                <rule context="tei:surname | tei:forename | tei:persName | tei:author[not(@sameAs)] | tei:occupation | tei:settlement | tei:country | tei:region | tei:rs | tei:workName | tei:characterName | tei:hi[not(.//tei:gap)] | tei:head | tei:note[not(@type=('part', 'thematicCom'))] | tei:placeName | tei:title | tei:seg | tei:item[not(@* or *)]">
                    <report test="normalize-space(.) = ''">
            <name/> has whitespace only content</report>
                </rule>
            </pattern>
   <pattern id="wegaWritings-constraint-elementStartsWithWhitespace-59">
                <rule context="tei:surname | tei:forename | tei:persName[not(@type)] | tei:author | tei:occupation | tei:settlement | tei:country | tei:region | tei:rs | tei:workName | tei:characterName | tei:hi | tei:placeName[not(parent::tei:address or parent::tei:birth or parent::tei:death)]">
                    <report test="matches(.,'^\s') and (node()[1] = text()[1])">whitespace at the beginning of element <name/>
         </report>
                </rule>
            </pattern>
   <pattern id="wegaWritings-constraint-untrimmedAttributeValues-60">
                <rule context="*">
                    <report test="some $i in @* satisfies string-length(normalize-unicode(normalize-space(replace($i, ' | | | ', ' ')))) ne string-length($i)">There is some whitespace here at the beginning or end of some attribute value.</report>
                </rule>
            </pattern>
   <pattern id="wegaWritings-att.wega.rend-constraint-underline-n-61">
                    <rule context="*:hi[@n] | *:rend[@n]">
                        <report test="@rend ne 'underline'">The @n-attribute is only supported in combination with @rend='underline'</report>
                    </rule>
                </pattern>

   <!-- *********** -->
   <!-- deprecated: -->
   <!-- *********** -->
   <pattern>
      <rule context="tei:teiHeader">
         <report test="@type" role="nonfatal">WARNING: use of deprecated attribute — @type of the teiHeader element will be removed from the TEI on 2016-11-18.
                </report>
      </rule>
   </pattern>
</schema>
