schema/de/wegaPersons.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <!-- This file generated 2020-10-14T12:20:32Z by 'extract-isosch.xsl'. -->

   <!-- ********************* -->
   <!-- namespaces, declared: -->
   <!-- ********************* -->


   <!-- ********************* -->
   <!-- namespaces, implicit: -->
   <!-- ********************* -->
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>

   <!-- ************ -->
   <!-- constraints: -->
   <!-- ************ -->
   <pattern id="schematron-constraint-wegaPersons-att.written-hand-hand-reference-1">
                            <rule context="tei:*[@hand]">
                                <assert test="id(substring(@hand,2)) or starts-with(@hand, 'wega:')">There must be an element with the xml:id = "<value-of select="substring(@hand,2)"/>" which is the target of this @hand.</assert>
                            </rule>
                        </pattern>
   <pattern id="schematron-constraint-wegaPersons-att.datable.w3c-att-datable-w3c-when-2">
      <rule context="tei:*[@when]">
        <report test="@notBefore|@notAfter|@from|@to" role="nonfatal">The @when attribute cannot be used with any other att.datable.w3c attributes.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-wegaPersons-att.datable.w3c-att-datable-w3c-from-3">
      <rule context="tei:*[@from]">
        <report test="@notBefore" role="nonfatal">The @from and @notBefore attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-wegaPersons-att.datable.w3c-att-datable-w3c-to-4">
      <rule context="tei:*[@to]">
        <report test="@notAfter" role="nonfatal">The @to and @notAfter attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-wegaPersons-att.datable-calendar-calendar-5">
          <rule context="tei:*[@calendar]">
            <assert test="string-length(.) gt 0"> @calendar indicates the system or calendar to
              which the date represented by the content of this element belongs, but this
              <name/> element has no textual content.</assert>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-wegaPersons-att.typed-subtypeTyped-6">
      <rule context="tei:*[@subtype]">
        <assert test="@type">The <name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</assert>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-wegaPersons-p-abstractModel-structure-p-7">
      <rule context="tei:p">
                    <report test="(ancestor::tei:p or ancestor::tei:ab)                          and not(parent::tei:exemplum                         |parent::tei:item                         |parent::tei:note                         |parent::tei:q                         |parent::tei:quote                         |parent::tei:remarks                         |parent::tei:said                         |parent::tei:sp                         |parent::tei:stage                         |parent::tei:cell                         |parent::tei:figure                         |parent::tei:footNote)">
                        Abstract model violation: Paragraphs may not contain other paragraphs or ab elements.
                    </report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-p-abstractModel-structure-l-8">
      <rule context="tei:p">
         <report test="ancestor::tei:l[not(.//tei:note//tei:p[. = current()])]">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab.
      </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-sic-empty-sic-9">
      <rule context="tei:sic">
                    <report test="normalize-space(.) = ''">ein sic sollte immer Text enthalten. Alternativ kann ein supplied oder gap eingesetzt werden.</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-rs-rs-typeNkey-10">
                    <rule context="tei:rs[@type='person'][@key]">
                        <assert test="matches(@key, '^A00[0-9A-F]{4}$')">A type value of 'person' must have only one key, starting with 'A00'</assert>
                    </rule>
                    <rule context="tei:rs[@type='persons'][@key]">
                        <assert test="matches(@key, '^(A00[0-9A-F]{4}\s)*A00[0-9A-F]{4}$')">A type value of 'persons' must have at least one key, each starting with 'A00'</assert>
                    </rule>
                    <rule context="tei:rs[@type='work'][@key]">
                        <assert test="matches(@key, '^A02\d{4}$')">A type value of 'work' must have only one key, starting with 'A02'</assert>
                    </rule>
                    <rule context="tei:rs[@type='works'][@key]">
                        <assert test="matches(@key, '^(A02\d{4}\s)*A02\d{4}$')">A type value of 'works' must have at least one key, each starting with 'A02'</assert>
                    </rule>
                    <rule context="tei:rs[@type='writing'][@key]">
                        <assert test="matches(@key, '^A03\d{4}$')">A type value of 'writing' must have only one key, starting with 'A03'</assert>
                    </rule>
                    <rule context="tei:rs[@type='writings'][@key]">
                        <assert test="matches(@key, '^(A03\d{4}\s)*A03\d{4}$')">A type value of 'writings' must have at least one key, each starting with 'A03'</assert>
                    </rule>
                    <rule context="tei:rs[@type='letter'][@key]">
                        <assert test="matches(@key, '^A04\d{4}$')">A type value of 'letter' must have only one key, starting with 'A04'</assert>
                    </rule>
                    <rule context="tei:rs[@type='letters'][@key]">
                        <assert test="matches(@key, '^(A04\d{4}\s)*A04\d{4}$')">A type value of 'letters' must have at least one key, each starting with 'A04'</assert>
                    </rule>
                    <rule context="tei:rs[@type='news'][@key]">
                        <assert test="matches(@key, '^(A05\d{4}\s)*A05\d{4}$')">A type value of 'news' must have at least one key, starting with 'A05'</assert>
                    </rule>
                    <rule context="tei:rs[@type='diaryDay'][@key]">
                        <assert test="matches(@key, '^A06\d{4}$')">A type value of 'diaryDay' must have only one key, starting with 'A06'</assert>
                    </rule>
                    <rule context="tei:rs[@type='diaryDays'][@key]">
                        <assert test="matches(@key, '^(A06\d{4}\s)*A06\d{4}$')">A type value of 'diaryDays' must have at least one key, each starting with 'A06'</assert>
                    </rule>
                    <rule context="tei:rs[@type='org'][@key]">
                        <assert test="matches(@key, '^A08\d{4}$')">A type value of 'org' must have only one key, starting with 'A08'</assert>
                    </rule>
                    <rule context="tei:rs[@type='orgs'][@key]">
                        <assert test="matches(@key, '^(A08\d{4}\s)*A08\d{4}$')">A type value of 'orgs' must have at least one key, each starting with 'A08'</assert>
                    </rule>
                    <rule context="tei:rs[@type='document'][@key]">
                        <assert test="matches(@key, '^A10\d{4}$')">A type value of 'document' must have only one key, starting with 'A10'</assert>
                    </rule>
                    <rule context="tei:rs[@type='documents'][@key]">
                        <assert test="matches(@key, '^(A10\d{4}\s)*A10\d{4}$')">A type value of 'documents' must have at least one key, each starting with 'A10'</assert>
                    </rule>
                    <rule context="tei:rs[@type='biblio'][@key]">
                        <assert test="matches(@key, '^(A11\d{4}\s)*A11\d{4}$')">A type value of 'biblio' must have at least one key, each starting with 'A11'</assert>
                    </rule>
                    <rule context="tei:rs[@type='addenda'][@key]">
                        <assert test="matches(@key, '^A12\d{4}$')">A type value of 'addenda' must have only one key, starting with 'A12'</assert>
                    </rule>
                    <rule context="tei:rs[@type='place'][@key]">
                        <assert test="matches(@key, '^A13\d{4}$')">A type value of 'place' must have only one key, starting with 'A13'</assert>
                    </rule>
                    <rule context="tei:rs[@type='places'][@key]">
                        <assert test="matches(@key, '^(A13\d{4}\s)*A13\d{4}$')">A type value of 'places' must have at least one key, each starting with 'A13'</assert>
                    </rule>
                    <rule context="tei:rs[@type='mixed'][@key]">
                        <assert test="count(distinct-values(for $i in tokenize(@key, '\s+') return substring($i, 1, 3))) gt 1">A type value of 'mixed' must have keys referring to different document types</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-date-dateHeuristics2-11">
                    <rule context="tei:date[@notBefore castable as xs:date and @notAfter castable as xs:date]">
                        <report test="xs:date(@notBefore) gt xs:date(@notAfter)">the date value of notBefore is later than notAfter</report>
                    </rule>
                    <rule context="tei:date[@notBefore castable as xs:gYear and @notAfter castable as xs:gYear]">
                        <report test="xs:date(concat(@notBefore, '-01-01')) gt xs:date(concat(@notAfter, '-01-01'))">the date value of notBefore is later than notAfter</report>
                    </rule>
                    <rule context="tei:date[@notBefore castable as xs:gYear and @notAfter castable as xs:date]">
                        <report test="xs:date(concat(@notBefore, '-01-01')) gt xs:date(@notAfter)">the date value of notBefore is later than notAfter</report>
                    </rule>
                    <rule context="tei:date[@notBefore castable as xs:date and @notAfter castable as xs:gYear]">
                        <report test="xs:date(@notBefore) gt xs:date(concat(@notAfter, '-12-31'))">the date value of notBefore is later than notAfter</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-date-dateHeuristics3-12">
      <rule context="tei:date">
                    <report test="(@from or @to) and (@when or @notAfter or @notBefore)">cooccurence of date and duration attributes</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-date-dateHeuristics4-13">
      <rule context="tei:date">
                    <report test="@when and (@notAfter or @notBefore)">cooccurence of exact and uncertain date attributes</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-date-dateHeuristics5-14">
      <rule context="tei:date">
                    <assert test="@when or @notBefore or @notAfter or @from or @to or @cert='unknown' or matches(., '0000|o\.J\.|unknown') or ancestor::tei:text">tei:date benötigt ein Attribut @when, @notBefore o.ä.</assert>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-date-dateHeuristics6-15">
                    <rule context="tei:date[some $i in (@when, @notBefore, @notAfter, @from, @to) satisfies $i castable as xs:date]">
                        <report test="every $j in (@when, @notBefore, @notAfter, @from, @to)[. castable as xs:date] satisfies xs:date($j) gt current-date()">some attribute value of <name/> is greater than the current date</report>
                    </rule>
                    <rule context="tei:date[some $i in (@when, @notBefore, @notAfter, @from, @to) satisfies $i castable as xs:gYear]">
                        <report test="every $j in (@when, @notBefore, @notAfter, @from, @to)[. castable as xs:gYear] satisfies number($j) gt year-from-date(current-date())">some attribute value of <name/> is greater than the current date</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-ref-prev-next-correspContext-16">
      <rule context="tei:ref">
                    <report test="@type=('previousLetterFromAddressee', 'nextLetterFromAddressee') and not(parent::tei:correspContext)">'previousLetterFromAddressee' and 'nextLetterFromAddressee' are only used within the correspContext element.</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-ref-refAtts-17">
      <rule context="tei:ref">
         <report test="@target and @cRef">Only one of the
	attributes @target' and @cRef' may be supplied on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-list-gloss-list-18">
      <rule context="tei:list">
                    <report test="./tei:label and not(@type='gloss')">Labels are only allowed in lists of type='gloss'</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-list-gloss-list-must-have-labels-19">
      <rule context="tei:list[@type='gloss']">
	        <assert test="tei:label">The content of a "gloss" list should include a sequence of one or more pairs of a label element followed by an item element</assert>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-wegaPersons-note-note-in-text-20">
                    <rule context="tei:note[not(parent::tei:org or parent::tei:person or parent::tei:notesStmt or parent::tei:biblStruct or parent::tei:imprint)]">
                        <assert test="@type and @resp and @xml:id">It is required to provide @type and @resp and @xml:id on note.</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-note-thematicCom-target-21">
                    <rule context="tei:note[@type='thematicCom' or @target]">
                        <assert test="@type='thematicCom' and @target">You need to provide thematic commentary targets (Only @type='thematicCom' and @target go together!).</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-note-thematicCom-must-be-empty-22">
                    <rule context="tei:note[@type='thematicCom' or @target]">
                        <report test="normalize-space() ne''">Thematic commentaries must not contain any text.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-note-notesStmt-notes-23">
                    <rule context="tei:note[parent::tei:notesStmt]">
                        <assert test="@type=('editorial', 'summary', 'thematicCom', 'incipit', 'textConst')">Within the notesStmt only 'editorial', 'summary', 'textConst', or 'thematicCom' are allowed for @type on note.</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-note-text-notes-24">
                    <rule context="tei:note[not(parent::tei:notesStmt)]">
                        <report test="@type=('editorial', 'summary', 'incipit')">The note types 'editorial', 'summary', or 'thematicCom' are not allowed within the text section but only in the notesStmt.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-note-structured-content-notes-25">
                    <rule context="tei:note[parent::tei:notesStmt][tei:p|tei:list|tei:table]">
                        <report test="text()[matches(., '\w')] or *[not(self::tei:p or self::tei:list or self::tei:table)]">There must be no mixed content when a tei:p, tei:list, or tei:table is present.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-idno-types-match-external-identifiers-26">
                    <rule context="tei:idno[@type='gnd']">
                        <assert test="matches(., '^1[01]?\d{7}[0-9X]|[47]\d{6}-\d|[1-9]\d{0,7}-[0-9X]|3\d{7}[0-9X]$')">That doesn't look like a valid GND ID.</assert>
                    </rule>
                    <rule context="tei:idno[@type='viaf']">
                        <assert test="matches(., '^[1-9]\d(\d{0,7}|\d{17,20})$')">That doesn't look like a valid VIAF ID.</assert>
                    </rule>
                    <rule context="tei:idno[@type='geonames']">
                        <assert test="matches(., '^[1-9][0-9]{0,8}$')">That doesn't look like a valid Geonames ID.</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-idno-match-external-identifiers-27">
                    <rule context="tei:idno[parent::tei:place]">
                        <report test="@type=('bd')">Bach IDs are not meant for places.</report>
                    </rule>
                    <rule context="tei:idno[parent::tei:person]">
                        <report test="@type=('geonames')">Geonames IDs are not meant for persons.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-orgName-parent-org-28">
                    <rule context="tei:orgName[parent::tei:org]">
                        <report test="@key or not(@type)">It is required to give the type ('alt' or 'reg') of the name while @key is forbiden here.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-orgName-parent-org-reg-29">
                    <rule context="tei:orgName[parent::tei:org and not(preceding::tei:orgName)]">
                        <assert test="@type='reg'">There must exactly be one name with @type='reg'.</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-orgName-parent-org-reg-30">
                    <rule context="tei:orgName[parent::tei:org and preceding::tei:orgName]">
                        <report test="@type='reg'">Only the first name can be of @type='reg'. Following names are supposed to be alternative names, @type='alt'.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-orgName-parent-not-org-31">
                    <rule context="tei:orgName[not(parent::tei:org)]">
                        <report test="@type">No @type attribute allowed here.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-forename-forename-exclusions-32">
      <rule context="tei:forename">
                <report test=".=('Frau', 'Fräulein', 'Dem.', 'Herr', 'Hr.', 'Mad.', 'Madame', 'Miss', 'Mrs.',  'Mr.')">Forms of address (e.g. "Frau", or "Herr") must not be encoded as <name/>
         </report>
            </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-person-personHeuristics1-33">
      <rule context="tei:person">
                
                
                <report test="./tei:birth/tei:date/(@when, @notBefore, @notAfter) &gt; ./tei:death/tei:date/(@when, @notBefore, @notAfter) and not(./tei:death/tei:date/(@when, @notBefore, @notAfter)[starts-with(., '-')])">Geburtsdatum nach Todesdatum</report>
                
                
            </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-person-personHeuristics2-34">
      <rule context="tei:person">
                
                
                <report test="./tei:death/tei:date/(@when, @notBefore, @notAfter) &gt; ./tei:birth/tei:date/(@when, @notBefore, @notAfter) and ./tei:death/tei:date/(@when, @notBefore, @notAfter)[starts-with(., '-')]">Geburtsdatum nach Todesdatum</report>
                
                
            </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-person-enforceWhitespace-35">
                <rule context="tei:persName[@type][./*]">
                    <assert test="every $x in ./*[following-sibling::*] satisfies $x[following-sibling::node()[1] instance of text()]">Child elements of persName should be separated with whitespace.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaPersons-person-bioSummary-mixed-content-36">
                <rule context="tei:note[@type='bioSummary'][tei:list]">
                    <report test="text()[matches(., '\S')]">When utilizing tei:list as structural unit you should wrap other text in tei:p.</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaPersons-residence-residence-no-mixed-content-37">
      <rule context="tei:residence">
                <report test="tei:*/tei:*">No further markup allowed within <name/>
         </report>
            </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-subst-substContents1-38">
      <rule context="tei:subst">
         <assert test="child::tei:add and (child::tei:del or child::tei:surplus)">
            <name/> must have at least one child add and at least one child del or surplus</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaPersons-styleguide-document-node-content-39">
                <rule context="document-node()">
                    <report test="count(processing-instruction()) ne 2">WeGA styleguide error: there should exactly be two processing instructions before the root element</report>
                    <report test="comment()">WeGA styleguide error: there should be no comments outside the root element</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaPersons-whitespaceOnlyContent-40">
                <rule context="tei:surname | tei:forename | tei:persName | tei:author[not(@sameAs)] | tei:occupation | tei:settlement | tei:country | tei:region | tei:rs | tei:workName | tei:characterName | tei:hi[not(.//tei:gap)] | tei:head | tei:note[not(@type=('thematicCom'))] | tei:placeName | tei:title | tei:seg | tei:item[not(@* or *)]">
                    <report test="normalize-space(.) = ''">
            <name/> has whitespace only content</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaPersons-elementStartsWithWhitespace-41">
                <rule context="tei:surname | tei:forename | tei:persName[not(@type)] | tei:author | tei:occupation | tei:settlement | tei:country | tei:region | tei:rs | tei:workName | tei:characterName | tei:hi | tei:placeName[not(parent::tei:address or parent::tei:birth or parent::tei:death)]">
                    <report test="matches(.,'^\s') and (node()[1] = text()[1])">whitespace at the beginning of element <name/>
         </report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaPersons-untrimmedAttributeValues-42">
                <rule context="*">
                    <report test="some $i in @* satisfies string-length(normalize-unicode(normalize-space(replace($i, ' | | | ', ' ')))) ne string-length($i)">There is some whitespace here at the beginning or end of some attribute value.</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaPersons-wegaTargets-43">
                <rule context="*[starts-with(@target, 'wega:')]">
                    <assert test="matches(@target, '^wega:A[0-9A-F]{6}(#.+)?(\s+wega:A[0-9A-F]{6}(#.+)?)*$')">"wega"-prefixed URIs must follow the pattern "wega:A002068" (i.e. without any file extension)</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaPersons-emojiCheck-44">
                <rule context="*[some $i in text() satisfies normalize-space($i) ne '']">
                    <report test="matches(., '[⌚-⌛]|[⏩-⏬]|[⏰]|[⏳]|[◽-◾]|[☔-☕]|[♈-♓]|[♿]|[⚓]|[⚡]|[⚪-⚫]|[⚽-⚾]|[⛄-⛅]|[⛎]|[⛔]|[⛪]|[⛲-⛳]|[⛵]|[⛺]|[⛽]|[✅]|[✊-✋]|[✨]|[❌]|[❎]|[❓-❕]|[❗]|[➕-➗]|[➰]|[➿]|[⬛-⬜]|[⭐]|[⭕]|[🀄]|[🃏]|[🆎]|[🆑-🆚]|[🇦-🇿]|[🈁]|[🈚]|[🈯]|[🈲-🈶]|[🈸-🈺]|[🉐-🉑]|[🌀-🌠]|[🌭-🌯]|[🌰-🌵]|[🌷-🍼]|[🍾-🍿]|[🎀-🎓]|[🎠-🏄]|[🏅]|[🏆-🏊]|[🏏-🏓]|[🏠-🏰]|[🏴]|[🏸-🏿]|[🐀-🐾]|[👀]|[👂-📷]|[📸]|[📹-📼]|[📿]|[🔀-🔽]|[🕋-🕎]|[🕐-🕧]|[🕺]|[🖕-🖖]|[🖤]|[🗻-🗿]|[😀]|[😁-😐]|[😑]|[😒-😔]|[😕]|[😖]|[😗]|[😘]|[😙]|[😚]|[😛]|[😜-😞]|[😟]|[😠-😥]|[😦-😧]|[😨-😫]|[😬]|[😭]|[😮-😯]|[😰-😳]|[😴]|[😵-🙀]|[🙁-🙂]|[🙃-🙄]|[🙅-🙏]|[🚀-🛅]|[🛌]|[🛐]|[🛑-🛒]|[🛕]|[🛫-🛬]|[🛴-🛶]|[🛷-🛸]|[🛹]|[🛺]|[🟠-🟫]|[🤍-🤏]|[🤐-🤘]|[🤙-🤞]|[🤟]|[🤠-🤧]|[🤨-🤯]|[🤰]|[🤱-🤲]|[🤳-🤺]|[🤼-🤾]|[🤿]|[🥀-🥅]|[🥇-🥋]|[🥌]|[🥍-🥏]|[🥐-🥞]|[🥟-🥫]|[🥬-🥰]|[🥱]|[🥳-🥶]|[🥺]|[🥻]|[🥼-🥿]|[🦀-🦄]|[🦅-🦑]|[🦒-🦗]|[🦘-🦢]|[🦥-🦪]|[🦮-🦯]|[🦰-🦹]|[🦺-🦿]|[🧀]|[🧁-🧂]|[🧃-🧊]|[🧍-🧏]|[🧐-🧦]|[🧧-🧿]|[🩰-🩳]|[🩸-🩺]|[🪀-🪂]|[🪐-🪕]')">Text contains characters with Emoji presentation as default.</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaPersons-sourceMustResolve-45">
                <rule context="*[starts-with(@source, '#')]">
                    <let name="source" value="@source"/>
                    <assert test="id(substring($source,2))">Unable to locate the reference provided by the @source attribute.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaPersons-att.wega.rend-underline-n-46">
                    <rule context="*:hi[@n] | *:rend[@n]">
                        <report test="@rend ne 'underline'">The @n-attribute is only supported in combination with @rend='underline'</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaPersons-macro.birthDeathContent-uncertainPlacenames-47">
                <rule context="tei:birth | tei:death">
                    <report test="count(distinct-values((tei:placeName | tei:settlement | tei:region | tei:country)/local-name())) gt 1">Multiple encodings of places will be regarded as alternatives. If it's really one place, please wrap in a placeName</report>
                </rule>
            </pattern>
</schema>
