schema/de/wegaWorks.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <!-- This file generated 2021-01-17T22:49:03Z by 'extract-isosch.xsl'. -->

<!-- ********************* -->
<!-- namespaces, declared: -->
<!-- ********************* -->
<ns prefix="mei" uri="http://www.music-encoding.org/ns/mei"/>

   <!-- ********************* -->
<!-- namespaces, implicit: -->
<!-- ********************* -->


<!-- ************ -->
<!-- constraints: -->
<!-- ************ -->
<pattern id="isoschematron-constraint-wegaWorks-data.ARTICULATION-warn_deprecated-1">
        <rule context="@artic">
          <assert role="warning"
                 test="not(contains(., 'marc-stacc')) and not(contains(., 'ten-stacc'))">"<value-of select="."/>" contains a deprecated value.</assert>
        </rule>
        <rule context="@artic.ges">
          <assert role="warning"
                 test="not(contains(., 'marc-stacc')) and not(contains(., 'ten-stacc'))">"<value-of select="."/>" contains a deprecated value.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-data.PLACEMENT-constrain_place-2">
        <rule context="@place">
          <assert test="not((some $token in tokenize(normalize-space(.),' ') satisfies              $token =('below','above','between','within')) and count(tokenize(normalize-space(.),' ')) gt 1)">Other values not permitted when 'above', 'below', 'between' or 'within' is
            present.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-data.STAFFREL-between_requires_adjacent_staves-3">
        <rule context="mei:*[@place eq 'between']">
          <assert test="count(tokenize(normalize-space(string(@staff)), '\s+')) = 2">The @staff
            attribute must contain 2 numerically-adjacent integer values.</assert>
          <let name="tokenizedStaff"
              value="tokenize(normalize-space(string(@staff)), '\s+')"/>
          <let name="maxValue"
              value="max((number($tokenizedStaff[1]), number($tokenizedStaff[2])))"/>
          <let name="minValue"
              value="min((number($tokenizedStaff[1]), number($tokenizedStaff[2])))"/>
          <assert test="$maxValue - $minValue = 1">Staves <value-of select="$minValue"/> and
            <value-of select="$maxValue"/> are not adjacent.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.notationType-notationsubtype-When_notationsubtype-4">
            <rule context="mei:*[@notationsubtype]">
              <assert test="@notationtype">An element with a notationsubtype attribute must have
                a notationtype attribute.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-manifestation-check_singleton-5">
        <rule context="mei:manifestation[@singleton eq 'true']">
          <assert test="not(mei:itemList)">Item children are not permitted when @singleton
            equals "true".</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.augmentDots-dots-dots_attribute_requires_dur-6">
            <rule context="mei:*[@dots]">
              <assert test="@dur">An element with a dots attribute must also have a dur
                attribute.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.barring-bar.method-check_barmethod-7">
            <rule context="@bar.method[parent::*[matches(local-name(), '(staffDef|measure)')]]">
              <assert test="not(. eq 'mensur')">"mensur" not allowed in this
                context.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.classed-class-check_classURI-8">
            <rule context="@class">
              <assert test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:category/@xml:id or matches($i, '^([a-z]+://|\.{1,2}/)')">The value in @class must either correspond to the @xml:id attribute of a category
                element or be an external URL.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.cleffing.log-clef_shape_requires_clef_line-9">
        <rule context="mei:*[matches(@clef.shape, '[FCG]')]">
          <assert test="@clef.line">An 'F', 'C', or 'G' clef requires that its position be
            specified.</assert>
        </rule>
        <rule context="mei:*[matches(@clef.shape, '(TAB|perc)')]">
          <assert test="@lines">A TAB or percussion clef requires that the number of lines be
            specified.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.clefShape-shape_requires_line-10">
        <rule context="mei:clef[matches(@shape, '[FCG]')]">
          <assert test="@line">When @shape is present, @line must also be
            specified.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.dataPointing-data-check_dataTarget-11">
            <rule context="@data">
              <assert role="warning" test="not(normalize-space(.) eq '')">@data attribute should
                have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*[ancestor::mei:music]/@xml:id">The value in @data should correspond to the @xml:id attribute of a descendant of
                the music element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.metadataPointing-decls-check_declsTarget-12">
            <rule context="@decls">
              <assert role="warning" test="not(normalize-space(.) eq '')">@decls attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*[ancestor::mei:meiHead]/@xml:id">Each value in @decls should correspond to the @xml:id attribute of an element
                within the metadata header.</assert>
              <assert test="every $i in tokenize(., '\s+') satisfies not(substring($i,2)=//mei:term/@xml:id)">No value in @decls should correspond to the @xml:id attribute of a classification
                term. Use @class for this purpose.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.extent-extent-check_extent-13">
            <rule context="@extent[matches(normalize-space(.), '^\d+(\.\d+)?$')]">
              <assert role="warning" test="../@unit">The @unit attribute is
                recommended.</assert>
            </rule>
            <rule context="@extent[matches(., '\d+(\.\d+)?\s')]">
              <assert role="warning" test="../@unit">Separation into value (@extent) and unit
                (@unit) is recommended.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.handIdent-hand-check_handTarget-14">
            <rule context="@hand">
              <assert role="warning" test="not(normalize-space(.) eq '')">@hand attribute should
                have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:hand/@xml:id">Each value in @hand should correspond to the @xml:id attribute of a hand
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.joined-join-check_joinTarget-15">
            <rule context="@join">
              <assert role="warning" test="not(normalize-space(.) eq '')">@join attribute should
                have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">Each
                value in @join should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.layer.log-def-check_defTarget_layer-16">
            <rule context="mei:layer/@def">
              <assert role="warning" test="not(normalize-space(.) eq '')">@def attribute should
                have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:layerDef/@xml:id">The value in @def should correspond to the @xml:id attribute of a layerDef
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.lineRend.base-lsegs-check_lsegs-17">
            <rule context="@lsegs">
              <assert test="matches(../@lform, '(dashed|dotted|wavy)')">@lform attribute
                matching "dashed", "dotted", or "wavy" required.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.linking-copyof-When_copyof_element_empty-18">
            <rule context="mei:*[@copyof]">
              <assert test="count(child::*[not(comment() or processing-instruction())]) = 0">An
                element with a copyof attribute can only have comment or processing instruction
                descendents.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.linking-copyof-check_copyofTarget-19">
            <rule context="@copyof">
              <assert role="warning" test="not(normalize-space(.) eq '')">@copyof attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">The
                value in @copyof should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.linking-corresp-check_correspTarget-20">
            <rule context="@corresp">
              <assert role="warning" test="not(normalize-space(.) eq '')">@corresp attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">Each
                value in @corresp should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.linking-follows-check_followsTarget-21">
            <rule context="@follows">
              <assert role="warning" test="not(normalize-space(.) eq '')">@follows attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">Each
                value in @follows must correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.linking-next-check_nextTarget-22">
            <rule context="@next">
              <assert role="warning" test="not(normalize-space(.) eq '')">@next attribute should
                have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">Each
                value in @next should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.linking-precedes-check_precedesTarget-23">
            <rule context="@precedes">
              <assert role="warning" test="not(normalize-space(.) eq '')">@precedes attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">Each
                value in @precedes must correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.linking-prev-check_prevTarget-24">
            <rule context="@prev">
              <assert role="warning" test="not(normalize-space(.) eq '')">@prev attribute should
                have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">Each
                value in @prev should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.linking-sameas-check_sameasTarget-25">
            <rule context="@sameas">
              <assert role="warning" test="not(normalize-space(.) eq '')">@sameas attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">Each
                value in @sameas should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.linking-synch-check_synchTarget-26">
            <rule context="@synch">
              <assert role="warning" test="not(normalize-space(.) eq '')">@synch attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">Each
                value in @synch should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.name-nymref-check_nymrefTarget-27">
            <rule context="@nymref">
              <assert role="warning" test="not(normalize-space(.) eq '')">@nymref attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">The
                value in @nymref should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.noteHeads-head.altsym-check_head.altsymTarget-28">
            <rule context="@head.altsym">
              <assert role="warning" test="not(normalize-space(.) eq '')">@head.altsym attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:symbolDef/@xml:id">The value in @head.altsym should correspond to the @xml:id attribute of a symbolDef
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.noteHeads-head.auth-check_head.auth-29">
            <rule context="mei:*[lower-case(@head.auth) eq 'smufl']">
              <assert test="matches(@head.shape, '^#x') or matches(@head.shape, '^U+')">When
                @head.auth matches 'smufl', @head.shape must contain a numeric glyph reference in
                hexadecimal notation, e.g. "#xE000" or "U+E000".</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.noteHeads-head.shape-check_headshape_num-30">
            <rule context="mei:*[(matches(@head.shape, '#x') or matches(@head.shape, 'U+')) and (lower-case(@head.auth) eq 'smufl')]">
              <assert role="warning"
                 test="matches(normalize-space(@head.shape), '^(#x|U\+)E([0-9AB][0-9A-F][0-9A-F]|C[0-9A][0-9A-F]|CB[0-9A-F])$')">SMuFL version 1.18 uses the range U+E000 - U+ECBF.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.origin.timestamp.logical-origin.tstamp2-origin.tstamp2_requires_origin.tstamp-31">
            <rule context="mei:*[@origin.tstamp2]">
              <assert test="@origin.tstamp">When @origin.tstamp2 is used @origin.tstamp must
                also be present.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.partIdent-part-check_part_attr_all-32">
            <rule context="@part[some $i in tokenize(., '\s+') satisfies (matches($i, '^%all$'))]">
              <assert test="count(tokenize(., '\s+')) = 1">'%all' cannot be mixed with other
                values.</assert>
            </rule>
          </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.partIdent-partstaff-check_partstaff_attr_all-33">
            <rule context="@partstaff[some $i in tokenize(., '\s+') satisfies (matches($i, '^%all$'))]">
              <assert test="count(tokenize(., '\s+')) = 1">'%all' cannot be mixed with other
                values.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.plist-plist-check_plistTarget-34">
            <rule context="@plist">
              <assert role="warning" test="not(normalize-space(.) eq '')">@plist attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">Each
                value in @plist should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.ranging-confidence-check_confidence-35">
            <rule context="mei:*[@confidence]">
              <assert test="@min and @max">The attributes @min and @max are required when
                @confidence is present.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.responsibility-resp-check_respTarget-36">
                                        <rule context="@resp">
                                            <assert role="warning" test="not(normalize-space(.) eq '')">@resp attribute should have content.</assert>
                                            <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">The value in @resp should correspond to the @xml:id attribute of an element in the same file.</assert>
                                        </rule>
                                    </pattern>
   <pattern id="schematron-constraint-wegaWorks-att.source-source-check_sourceTarget-37">
            <rule context="@source">
              <assert role="warning" test="not(normalize-space(.) eq '')">@source attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*[local-name() eq 'source' or local-name() eq 'manifestation']/@xml:id">Each value in @source should correspond to the @xml:id attribute of a source or
                manifestation element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.staff.log-def-check_defTarget_staff-38">
            <rule context="mei:staff/@def">
              <assert role="warning" test="not(normalize-space(.) eq '')">@def attribute should
                have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:staffDef/@xml:id">The value in @def should correspond to the @xml:id attribute of a staffDef
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.startEndId-endid-check_endidTarget-39">
            <rule context="@endid">
              <assert role="warning" test="not(normalize-space(.) eq '')">@endid attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">The
                value in @endid should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.startId-startid-check_startidTarget-40">
            <rule context="@startid">
              <assert role="warning" test="not(normalize-space(.) eq '')">@startid attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*/@xml:id">The
                value in @startid should correspond to the @xml:id attribute of an
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-annot-Check_annot_data-41">
        <rule context="mei:annot[@data]">
          <assert test="ancestor::mei:notesStmt">The @data attribute may only occur on an
            annotation within the notesStmt element.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-clef-Clef_position_lines-42">
        <rule context="mei:clef[ancestor::mei:staffDef[@lines]]">
          <let name="thisstaff" value="ancestor::mei:staffDef/@n"/>
          <assert test="number(@line) &lt;= number(ancestor::mei:staffDef[@n=$thisstaff and @lines][1]/@lines)">The clef position must be less than or equal to the number of lines of an ancestor
            staff.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-clef-Clef_position_nolines-43">
        <rule context="mei:clef[ancestor::mei:staffDef[not(@lines)]]">
          <let name="thisstaff" value="ancestor::mei:staffDef/@n"/>
          <assert test="number(@line) &lt;= number(preceding::mei:staffDef[@n=$thisstaff and @lines][1]/@lines)">The clef position must be less than or equal to the number of lines of a preceding
            staff.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-contributor-check_contributor_role-44">
        <rule context="mei:contributor">
          <assert test="not(matches(normalize-space(lower-case(@role)),               '(arranger|author|composer|contributor|editor|funder|librettist|lyricist|sponsor)'))">The value of @role must not contain the name of another element available in this
            context.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-dimensions-check_dimensions-45">
        <rule context="mei:physDesc/mei:dimensions">
          <assert test="not(count(mei:depth) &gt; 1)">The depth element may only appear
            once.</assert>
          <assert test="not(count(mei:height) &gt; 1)">The height element may only appear
            once.</assert>
          <assert test="not(count(mei:width) &gt; 1)">The width element may only appear
            once.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-dir-dir_start-type_attributes_required-46">
        <rule context="mei:dir[not(ancestor::mei:syllable)]">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-dynam-dynam_start-type_attributes_required-47">
        <rule context="mei:dynam">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real"> Must have one of
            the attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-dynam-dynam_end-type_attributes-48">
        <rule context="mei:dynam[@val2]">
          <assert test="@dur or @dur.ges or @endid or @tstamp2">When @val2 is present, either
            @dur, @dur.ges, @endid, or @tstamp2 must also be present.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-grpSym-check_grpSym_attributes_scoreDef-49">
        <rule context="mei:grpSym[parent::mei:scoreDef]">
          <assert test="@startid and @endid and @level">In scoreDef, grpSym must have startid,
            endid, and level attributes.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-grpSym-check_grpSym_attributes_staffDef-50">
        <rule context="mei:grpSym[parent::mei:staffGrp]">
          <assert test="not(@startid or @endid or @level)">In staffGrp, grpSym must not have
            startid, endid, or level attributes.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-keySig-check_keyAccid_oct-51">
        <rule context="mei:keySig[mei:keyAccid[@oct]]">
          <assert test="count(mei:keyAccid[@oct]) = count(mei:keyAccid)">If the @oct attribute
            appears on any keyAccid element, it must be provided on all keyAccid
            elements.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-keySig-check_keySig_editorial-52">
        <rule context="mei:keySig/mei:*[local-name() eq 'add' or local-name() eq 'corr'             or local-name() eq 'damage' or local-name() eq 'del' or local-name() eq 'orig' or              local-name() eq 'reg' or local-name() eq 'restore' or local-name() eq 'sic' or              local-name() eq 'supplied' or local-name() eq 'unclear']">
          <assert test="count(mei:keyAccid) = count(mei:*)">Only keyAccid elements are allowed
            here.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-mei-Check_staff-53">
        <rule context="mei:*[@staff]">
          <assert test="every $i in tokenize(normalize-space(@staff), '\s+') satisfies $i=//mei:staffDef/@n">The values in @staff must correspond to @n attribute of a staffDef
            element.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-name-nameParts-54">
        <rule context="mei:name">
          <assert role="warning" test="not(mei:geogName or mei:persName or mei:corpName)">Recommended practice is to use name elements to capture sub-parts of a generic
            name.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-relation-FRBR_relation-55">
        
        <rule context="mei:relationList/mei:relation[parent::mei:work or parent::mei:expression or                        parent::mei:source or parent::mei:item]">
          <assert test="matches(@rel, 'hasAbridgement') or             matches(@rel, 'hasAbridgement') or             matches(@rel, 'isAbridgementOf') or             matches(@rel, 'hasAdaptation') or             matches(@rel, 'isAdaptationOf') or             matches(@rel, 'hasAlternate') or             matches(@rel, 'isAlternateOf') or             matches(@rel, 'hasArrangement') or             matches(@rel, 'isArrangementOf') or             matches(@rel, 'hasComplement') or             matches(@rel, 'isComplementOf') or             matches(@rel, 'hasEmbodiment') or             matches(@rel, 'isEmbodimentOf') or             matches(@rel, 'hasExemplar') or             matches(@rel, 'isExemplarOf') or             matches(@rel, 'hasImitation') or             matches(@rel, 'isImitationOf') or             matches(@rel, 'hasPart') or             matches(@rel, 'isPartOf') or             matches(@rel, 'hasRealization') or             matches(@rel, 'isRealizationOf') or             matches(@rel, 'hasReconfiguration') or             matches(@rel, 'isReconfigurationOf') or             matches(@rel, 'hasReproduction') or             matches(@rel, 'isReproductionOf') or             matches(@rel, 'hasRevision') or             matches(@rel, 'isRevisionOf') or             matches(@rel, 'hasSuccessor') or             matches(@rel, 'isSuccessorOf') or             matches(@rel, 'hasSummarization') or             matches(@rel, 'isSummarizationOf') or             matches(@rel, 'hasSupplement') or             matches(@rel, 'isSupplementOf') or             matches(@rel, 'hasTransformation') or             matches(@rel, 'isTransformationOf') or             matches(@rel, 'hasTranslation') or             matches(@rel, 'isTranslationOf')">Within work, expression, source, or item, the value of the rel attribute must match one
            of the following: hasAbridgement, isAbridgementOf, hasAdaptation, isAdaptationOf,
            hasAlternate, isAlternateOf, hasArrangement, isArrangementOf, hasComplement,
            isComplementOf, hasEmbodiment, isEmbodimentOf, hasExemplar, isExemplarOf, hasImitation,
            isImitationOf, hasPart, isPartOf, hasRealization, isRealizationOf, hasReconfiguration,
            isReconfigurationOf, hasReproduction, isReproductionOf, hasRevision, isRevisionOf,
            hasSuccessor, isSuccessorOf, hasSummarization, isSummarizationOf, hasSupplement,
            isSupplementOf, hasTransformation, isTransformationOf, hasTranslation,
            isTranslationOf</assert>
          <assert test="@target">Within work, expression, source or item, the target attribute
            must be present.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-respStmt-check_respStmt-56">
        <rule context="mei:respStmt[not(ancestor::mei:change)]">
          <assert test="(mei:resp and (mei:name or mei:corpName or mei:persName)) or              count(mei:*[@role]) = count(mei:*) and count(mei:*) &gt; 0"
                 role="warning">At least one element pair (a resp element and a name-like element) is
            recommended. Alternatively, each name-like element may have a @role
            attribute.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-rest-Check_restline-57">
        <rule context="mei:rest[@line]">
          <let name="thisstaff" value="ancestor::mei:staff/@n"/>
          <assert test="number(@line) &lt;= number(preceding::mei:staffDef[@n=$thisstaff and @lines][1]/@lines)">The value of @line must be less than or equal to the number of lines on the
            staff.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-section-Check_sectionexpansion-58">
        <rule context="mei:section[mei:expansion]">
          <assert test="descendant::mei:section|descendant::mei:ending|descendant::mei:rdg">A
            section containing an expansion element must have descendant section, ending, or rdg
            elements.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-staff-checkStaff_n-59">
        <rule context="mei:staff[@n]">
          <let name="thisstaff" value="@n"/>
          <assert test="preceding::mei:staffDef[@n=$thisstaff] or preceding::mei:staff[@n=$thisstaff]/mei:staffDef or mei:staffDef">There must be a preceding staffDef with a matching value of @n, a preceding staff with
            a matching @n value containing a staffDef, or a staffDef child element.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-staffDef-Check_staffDefn-60">
        <rule context="mei:staffDef[not(ancestor::mei:staff)]">
          <let name="thisstaff" value="@n"/>
          <assert test="@n">StaffDef must have an n attribute.</assert>
          <assert test="@lines or preceding::mei:staffDef[@n=$thisstaff and @lines]"> Either
            @lines must be present or a preceding staffDef with the same value for @n and @lines
            must exist.</assert>
          <assert test="count(mei:clef) + count(mei:clefGrp) &lt; 2">Only one clef or clefGrp is
            permitted.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-staffDef-Check_ancestor_staff-61">
        <rule context="mei:staffDef[ancestor::mei:staff and @n]">
          <let name="thisstaff" value="@n"/>
          <assert test="ancestor::mei:staff/@n eq $thisstaff">@n must have the same value as the
            current staff.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-staffDef-Check_ancestor_staff_lines-62">
        <rule context="mei:staffDef[ancestor::mei:staff and not(@n)]">
          <let name="thisstaff" value="ancestor::mei:staff/@n"/>
          <assert test="@lines or preceding::mei:staffDef[@n=$thisstaff and @lines]"> Either
            @lines must be present or a preceding staffDef with matching @n value and @lines must
            exist.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-staffDef-Check_clef_position_staffDef-63">
        <rule context="mei:staffDef[@clef.line and @lines]">
          <assert test="number(@clef.line) &lt;= number(@lines)">The clef position must be less
            than or equal to the number of lines on the staff.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-staffDef-Check_clef_position_staffDef_nolines-64">
        <rule context="mei:staffDef[@clef.line and not(@lines)]">
          <let name="thisstaff" value="@n"/>
          <let name="stafflines"
              value="preceding::mei:staffDef[@n=$thisstaff and @lines][1]/@lines"/>
          <assert test="number(@clef.line) &lt;= number($stafflines)">The clef position must be
            less than or equal to the number of lines on the staff.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-staffDef-Check_tab_strings_lines-65">
        <rule context="mei:staffDef[@tab.strings and @lines]">
          <let name="countTokens"
              value="count(tokenize(normalize-space(@tab.strings), '\s'))"/>
          <assert test="$countTokens = @lines">The tab.strings attribute must have the same
            number of values as there are staff lines.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-staffDef-Check_tab_strings_nolines-66">
        <rule context="mei:staffDef[@tab.strings and not(@lines)]">
          <let name="countTokens"
              value="count(tokenize(normalize-space(@tab.strings), '\s'))"/>
          <let name="thisstaff" value="@n"/>
          <assert test="$countTokens = preceding::mei:staffDef[@n=$thisstaff and @lines][1]/@lines">The
            tab.strings attribute must have the same number of values as there are staff
            lines.</assert>
        </rule>
      </pattern>
        <pattern>
          <rule context="mei:staffDef[@lines.color and @lines]">
            <let name="countTokens"
              value="count(tokenize(normalize-space(@lines.color), '\s'))"/>
            <assert test="$countTokens = 1 or $countTokens = @lines">The lines.color attribute
              must have either 1) a single value or 2) the same number of values as there are staff
              lines.</assert>
          </rule>
          <rule context="mei:staffDef[@lines.color and not(@lines)]">
            <let name="countTokens"
              value="count(tokenize(normalize-space(@lines.color), '\s'))"/>
            <let name="thisstaff" value="@n"/>
            <assert test="$countTokens = 1 or $countTokens = preceding::mei:staffDef[@n=$thisstaff and @lines][1]/@lines">The lines.color attribute must have either 1) a single value or 2) the same number of
              values as there are staff lines.</assert>
          </rule>
        </pattern>
      
        <pattern>
          <rule context="mei:staffDef[@ppq][ancestor::mei:scoreDef[@ppq]]">
            <let name="staffPPQ" value="@ppq"/>
            <let name="scorePPQ" value="ancestor::mei:scoreDef[@ppq][1]/@ppq"/>
            <assert test="($scorePPQ mod $staffPPQ) = 0">The value of ppq must be a factor of
              the value of ppq on an ancestor scoreDef.</assert>
          </rule>
        </pattern>
      
        <pattern>
          <rule context="mei:staffDef[@ppq][preceding::mei:scoreDef[@ppq]]">
            <let name="staffPPQ" value="@ppq"/>
            <let name="scorePPQ" value="preceding::mei:scoreDef[@ppq][1]/@ppq"/>
            <assert test="($scorePPQ mod $staffPPQ) = 0">The value of ppq must be a factor of
              the value of ppq on a preceding scoreDef.</assert>
          </rule>
        </pattern>
      <pattern id="isoschematron-constraint-wegaWorks-staffGrp-Check_staffGrp_unique_staff_n_values-70">
        <rule context="mei:staffGrp">
          <let name="countstaves" value="count(descendant::mei:staffDef)"/>
          <let name="countuniqstaves"
              value="count(distinct-values(descendant::mei:staffDef/@n))"/>
          <assert test="$countstaves eq $countuniqstaves">Each staffDef must have a unique value
            for the n attribute.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-tempo-tempo_in_header_disallow_most_attrs-71">
        <rule context="mei:tempo[not(ancestor::mei:score or ancestor::mei:part)]">
          <assert test="not(@*[name() != 'analog' and name() != 'class' and name() != 'label' and                name() != 'mm' and name() != 'mm.dots' and name() != 'translit' and                name() != 'type' and name() != 'mm.unit' and name() != 'n' and name() != 'xml:base' and                name() != 'xml:id' and name() != 'xml:lang'])">Only analog, class, label, mm, mm.dots, mm.unit, n, translit, type, xml:base, xml:id,
            and xml:lang attributes are allowed when tempo is not a descendant of a score or
            part.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-tempo-tempo_start-type_attributes_required-72">
        <rule context="mei:tempo[not(ancestor::mei:syllable) and not(ancestor::mei:work) and not(ancestor::mei:expression) and not(count(ancestor::mei:*) = 0)]">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-term-Check_term_dataTarget-73">
        <rule context="mei:term[@data]">
          <assert test="ancestor::mei:classification">The @data attribute may only occur on a
            term which is a descendant of a classification element.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.harm.log-chordref-check_chordrefTarget-74">
            <rule context="@chordref">
              <assert role="warning" test="not(normalize-space(.) eq '')">@chordref attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:chordDef/@xml:id">The value in @chordref should correspond to the @xml:id attribute of a chordDef
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-harm-harm_start-type_attributes_required-75">
        <rule context="mei:harm">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-componentList-checkComponentList-76">
        <rule context="mei:componentList">
          <assert test="every $i in ./child::mei:*[not(local-name()='head')] satisfies              $i/local-name() eq ./parent::mei:*/local-name()">Only child elements of the same name as the parent of the componentList are
            allowed.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-componentList-checkComponents-77">
        <rule context="mei:componentList[mei:*[@comptype]]">
          <assert role="warning"
                 test="count(mei:*[@comptype]) = count(mei:*[local-name() ne 'head'])">When any child
            element has a comptype attribute, it is recommended that comptype appear on all child
            elements.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-change-check_change-78">
        <rule context="mei:change">
          <assert test="@isodate or mei:date">The date of the change must be recorded in an
            isodate attribute or date element.</assert>
          <assert test="@resp or mei:respStmt[mei:name or mei:corpName or mei:persName]"
                 role="warning">It is recommended that the agent responsible for the change be recorded
            in a resp attribute or in a name, corpName, or persName element in the respStmt
            element.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-contents-checkContentsLabels-79">
        <rule context="mei:contents[mei:label]">
          <assert role="warning" test="count(mei:label) = count(mei:contentItem)">When labels
            are used, usually each content item has one.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-handList-checkHandListLabels-80">
        <rule context="mei:handList[mei:label]">
          <assert role="warning" test="count(mei:label) = count(mei:hand)">When labels are used,
            usually each hand has one.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-history-history_restriction-81">
        <rule context="mei:history[parent::mei:work or parent::mei:expression]">
          <assert test="not(mei:acquisition or mei:provenance)">The acquisition and provenance
            elements are not permitted in the work or expression context.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-incipCode-Check_incipCode_form_mimetype-82">
        <rule context="mei:incipCode">
          <assert test="@form or @mimetype">incipCode must have a form or mimetype
            attribute.</assert>
        </rule>
      </pattern>
   <pattern id="schematron-constraint-wegaWorks-meiHead-check_meiHead_type-83">
        <rule context="mei:meiHead[@type eq 'music']">
          <assert test="ancestor::mei:mei">The meiHead type attribute can have the value 'music'
            only when the document element is "mei".</assert>
        </rule>
        <rule context="mei:meiHead[@type eq 'corpus']">
          <assert test="ancestor::mei:meiCorpus">The meiHead type attribute can have the value
            'corpus' only when the document element is "meiCorpus".</assert>
        </rule>
        <rule context="mei:meiHead[@type eq 'independent']">
          <assert test="not(ancestor::mei:*)">The meiHead type attribute can have the value
            'independent' only when the document element is "meiHead".</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-source-id-check-84">
                                <rule context="mei:source">
                                    <assert test="@xml:id or ancestor::mei:source"> Am
                                        Wurzelelement muss eine XML-ID angegeben sein. </assert>
                                </rule>
                            </pattern>
   <pattern id="schematron-constraint-wegaWorks-source-check_source_target-85">
        <rule context="mei:source/@target">
          <assert role="warning" test="not(normalize-space(.) eq '')">@target attribute should
            have content.</assert>
          <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*[local-name()              eq 'source' or local-name() eq 'manifestation']/@xml:id or matches($i, '^([a-z]+://|\.{1,2}/)')">Each value in @target should correspond to the @xml:id attribute of a source or
            manifestation element or be an external URI.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-termList-checkTermListLabels-86">
        <rule context="mei:termList[mei:label]">
          <assert role="warning" test="count(mei:label) = count(mei:term)">When labels are used,
            usually each term has one.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-work-id-check-87">
                                <rule context="mei:source">
                                    <assert test="@xml:id or ancestor::mei:source"> Am
                                        Wurzelelement muss eine XML-ID angegeben sein. </assert>
                                </rule>
                            </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.beamRend-place-check_beam_place-88">
            <rule context="mei:beam[@place eq 'mixed' and not(descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord'][@staff != ./@staff] or descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord'][@staff != ancestor::mei:staff/@n])]">
              <assert test="count(descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord'][@stem.dir]) = count(descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord'])">Stem direction must be specified for all notes and chords under the
                beam.</assert>
              <assert test="count(distinct-values(descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord']/@stem.dir)) &gt; 1">Opposing stem directions are required for a beam with @place="mixed".</assert>
            </rule>
            <rule context="mei:beam[@place eq 'mixed' and (descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord'][@staff != ./@staff] or descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord'][@staff != ancestor::mei:staff/@n])                 and count(descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord'][@stem.dir]) = count(descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord'])]">
              <assert test="count(distinct-values(descendant::mei:*[local-name() eq 'note' or local-name() eq 'chord']/@stem.dir)) &gt; 1">Opposing stem directions are required for a beam with @place="mixed".</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-beam-When_not_copyof_beam_content-89">
        <rule context="mei:beam[not(@copyof)]">
          <assert test="count(descendant::*[local-name()='note' or local-name()='rest' or               local-name()='chord' or local-name()='space']) &gt; 1">A beam without a copyof attribute must have at least 2 note, rest, chord, or space
            descendants.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-beamSpan-beamspan_start-_and_end-type_attributes_required-90">
        <rule context="mei:beamSpan">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
          <assert test="@dur or @dur.ges or @endid or @tstamp2">Must have one of the attributes:
            dur, dur.ges, endid, or tstamp2.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-fermata-fermata_start-type_attributes_required-91">
        <rule context="mei:fermata">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-hairpin-hairpin_start-_and_end-type_attributes_required-92">
        <rule context="mei:hairpin">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
          <assert test="@dur or @dur.ges or @endid or @tstamp2">Must have one of the attributes:
            dur, dur.ges, endid, or tstamp2.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-octave-octave_start-_and_end-type_attributes_required-93">
        <rule context="mei:octave">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
          <assert test="@dur or @dur.ges or @endid or @tstamp2">Must have one of the attributes:
            dur, dur.ges, endid, or tstamp2.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-slur-slur_start-_and_end-type_attributes_required-94">
        <rule context="mei:slur">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
          <assert test="@dur or @dur.ges or @endid or @tstamp2">Must have one of the attributes:
            dur, dur.ges, endid, or tstamp2.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-slur-slur_containing_curve-95">
        <rule context="mei:slur[mei:curve[@bezier or @bulge or @curvedir or @lform or @lwidth or              @ho or @startho or @endho or @to or @startto or @endto or @vo or @startvo or @endvo or              @x or @y or @x2 or @y2]]">
          <assert test="not(@bezier or @bulge or @curvedir or @lform or @lwidth or @ho or @startho or                @endho or @to or @startto or @endto or @vo or @startvo or @endvo or @x or @y or @x2 or @y2)"
                 role="warning">The visual attributes of the slur (@bezier, @bulge, @curvedir, @lform,
            @lwidth, @ho, @startho, @endho, @to, @startto, @endto, @vo, @startvo, @endvo, @x, @y,
            @x2, and @y2) will be overridden by visual attributes of the contained curve
            elements.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-tie-tie_start-_and_end-type_attributes_required-96">
        <rule context="mei:tie">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
          <assert test="@dur or @dur.ges or @endid or @tstamp2">Must have one of the attributes:
            dur, dur.ges, endid, or tstamp2.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-tie-tie_containing_curve-97">
        <rule context="mei:tie[mei:curve[@bezier or @bulge or @curvedir or @lform or @lwidth or              @ho or @startho or @endho or @to or @startto or @endto or @vo or @startvo or              @endvo or @x or @y or @x2 or @y2]]">
          <assert test="not(@bezier or @bulge or @curvedir or @lform or @lwidth or @ho or @startho or                @endho or @to or @startto or @endto or @vo or @startvo or @endvo or @x or @y or @x2 or @y2)"
                 role="warning">The visual attributes of the tie (@bezier, @bulge, @curvedir, @lform,
            @lwidth, @ho, @startho, @endho, @to, @startto, @endto, @vo, @startvo, @endvo, @x, @y,
            @x2, and @y2) will be overridden by visual attributes of the contained curve
            elements.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-tuplet-When_not_copyof_tuplet_content-98">
        <rule context="mei:tuplet[not(@copyof)]">
          <assert test="count(descendant::*[local-name()='note' or local-name()='rest' or               local-name()='chord']) &gt; 1">A tuplet without a copyof attribute must have at least 2 note, rest, or chord
            descendants.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-tupletSpan-tupletSpan_start-_and_end-type_attributes_required-99">
        <rule context="mei:tupletSpan">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
          <assert test="@dur or @dur.ges or @endid or @tstamp2">Must have one of the attributes:
            dur, dur.ges, endid, or tstamp2.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-mordent-mordent_start-type_attributes_required-100">
        <rule context="mei:mordent">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-trill-trill_start-type_attributes_required-101">
        <rule context="mei:trill">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-turn-turn_start-type_attributes_required-102">
        <rule context="mei:turn">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-list-list_type_constraint-103">
        <rule context="mei:list[contains(@type,'gloss')]">
          <assert test="count(mei:label) = count(mei:li)">In a list of type "gloss" all items
            must be immediately preceded by a label.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-cpMark-cpMark_start-_and_end-type_attributes_required-104">
        <rule context="mei:cpMark">
          <assert test="@startid or @tstamp or @tstamp.ges or @tstamp.real">Must have one of the
            attributes: startid, tstamp, tstamp.ges or tstamp.real</assert>
          <assert test="@dur or @dur.ges or @endid or @tstamp2">Must have one of the attributes:
            dur, dur.ges, endid, or tstamp2</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.accidental.gestural-accid.ges-check_accid_duplication-105">
            <rule context="@accid.ges">
              <assert role="warning" test="not(. eq ../@accid)">The value of @accid.ges should
                not duplicate the value of @accid.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.note.ges-extremis_disallows_gestural_pitch-106">
        <rule context="mei:note[@extremis]">
          <assert test="not(@pname.ges) and not(@oct.ges)">When the @extremis attribute is used,
            the @pname.ges and @oct.ges attributes are not allowed.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.fTrem.vis-beams.float-check_beams.floating-107">
            <rule context="mei:fTrem[@beams and @beams.float]">
              <assert test="@beams.float &lt;= @beams">The number of floating beams must be less
                than or equal to the total number of beams.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.instrumentIdent-instr-check_instrTarget-108">
            <rule context="@instr">
              <assert role="warning" test="not(normalize-space(.) eq '')">@instr attribute
                should have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:instrDef/@xml:id">The value in @instr should correspond to the @xml:id attribute of an instrDef
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.midiInstrument-One_of_instrname_or_instrnum-109">
        <rule context="mei:*[@midi.instrname]">
          <assert test="not(@midi.instrnum)">Only one of @midi.instrname and @midi.instrnum
            allowed.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.midiInstrument-One_of_patchname_or_patchnum-110">
        <rule context="mei:*[@midi.patchname]">
          <assert test="not(@midi.patchnum)">Only one of @midi.patchname and @midi.patchnum
            allowed.</assert>
        </rule>
      </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.facsimile-facs-check_facsTarget-111">
            <rule context="@facs">
              <assert role="warning" test="not(normalize-space(.) eq '')">@facs attribute should
                have content.</assert>
              <assert role="warning"
                 test="every $i in tokenize(., '\s+') satisfies substring($i,2)=//mei:*[local-name() eq 'surface' or local-name() eq 'zone']/@xml:id">Each value in @facs should correspond to the @xml:id attribute of a surface or zone
                element.</assert>
            </rule>
          </pattern>
   <pattern id="isoschematron-constraint-wegaWorks-att.componentType-comptype-checkComponentType-112">
            <rule context="mei:*[@comptype]">
              <let name="elementName" value="local-name()"/>
              <assert test="ancestor::mei:componentList">The comptype attribute may occur on
                <value-of select="$elementName"/> only when it is a descendant of a
                componentList.</assert>
            </rule>
          </pattern>
                            
                            
                        </schema>
