schema/de/wegaBiblio.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <!-- This file generated 2022-05-24T09:49:30Z by 'extract-isosch.xsl'. -->

   <!-- ********************* -->
   <!-- namespaces, declared: -->
   <!-- ********************* -->


   <!-- ********************* -->
   <!-- namespaces, implicit: -->
   <!-- ********************* -->
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>

   <!-- ************ -->
   <!-- constraints: -->
   <!-- ************ -->
   <pattern id="schematron-constraint-wegaBiblio-att.written-hand-hand-reference-1">
                            <rule context="tei:*[@hand]">
                                <assert test="id(substring(@hand,2)) or starts-with(@hand, 'wega:')">There must be an element with the xml:id = "<value-of select="substring(@hand,2)"/>" which is the target of this @hand.</assert>
                            </rule>
                        </pattern>
   <pattern id="schematron-constraint-wegaBiblio-att.datable.w3c-att-datable-w3c-when-2">
      <rule context="tei:*[@when]">
        <report test="@notBefore|@notAfter|@from|@to" role="nonfatal">The @when attribute cannot be used with any other att.datable.w3c attributes.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-wegaBiblio-att.datable.w3c-att-datable-w3c-from-3">
      <rule context="tei:*[@from]">
        <report test="@notBefore" role="nonfatal">The @from and @notBefore attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-wegaBiblio-att.datable.w3c-att-datable-w3c-to-4">
      <rule context="tei:*[@to]">
        <report test="@notAfter" role="nonfatal">The @to and @notAfter attributes cannot be used together.</report>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-wegaBiblio-att.datable-calendar-calendar-5">
          <rule context="tei:*[@calendar]">
            <assert test="string-length(.) gt 0"> @calendar indicates one or more systems or calendars to
              which the date represented by the content of this element belongs, but this
              <name/> element has no textual content.</assert>
          </rule>
        </pattern>
   <pattern id="schematron-constraint-wegaBiblio-att.global.source-source-only_1_ODD_source-6">
                            <rule context="tei:*[@source]">
                                <let name="srcs" value="tokenize( normalize-space(@source),' ')"/>
                                <report test="( self::tei:classRef                                     | self::tei:dataRef                                     | self::tei:elementRef                                     | self::tei:macroRef                                     | self::tei:moduleRef                                     | self::tei:schemaSpec )                                     and                                     $srcs[2]">
                                    When used on a schema description element (like
                                    <value-of select="name(.)"/>), the @source attribute
                                    should have only 1 value. (This one has <value-of select="count($srcs)"/>.)
                                </report>
                            </rule>
                        </pattern>
   <pattern id="schematron-constraint-wegaBiblio-att.typed-subtypeTyped-7">
      <rule context="tei:*[@subtype]">
        <assert test="@type">The <name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</assert>
      </rule>
    </pattern>
   <pattern id="schematron-constraint-wegaBiblio-p-extent-within-physDesc-8">
      <rule context="tei:p">
                    <report test="@n='extent' and not(parent::tei:physDesc)">
                        The value 'extent' must only be used within the tei:physDesc.
                    </report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-p-extent-only-once-9">
                    <rule context="tei:physDesc">
                        <report test="count(tei:p[@n='extent']) gt 1">There must only be one tei:p with @n='extent'</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-p-extent-regex-10">
                    <rule context="tei:p[@n='extent']">
                        <assert test="matches(., '^\d+ D?Bl\. \(\d+ b\. S\.( (o|einschl)\. Adr\.)?( u\. Umschlag)?\)$')">The 'extent' must match the pattern '^\d+ D?Bl\. \(\d+ b\. S\.( (o|einschl)\. Adr\.)?( u\. Umschlag)?\)$'</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-p-abstractModel-structure-p-in-ab-or-p-11">
      <rule context="tei:p">
                    <report test="(ancestor::tei:p or ancestor::tei:ab)                          and not(parent::tei:exemplum                         |parent::tei:item                         |parent::tei:note                         |parent::tei:q                         |parent::tei:quote                         |parent::tei:remarks                         |parent::tei:said                         |parent::tei:sp                         |parent::tei:stage                         |parent::tei:cell                         |parent::tei:figure                         |parent::tei:footNote)">
                        Abstract model violation: Paragraphs may not contain other paragraphs or ab elements.
                    </report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-p-abstractModel-structure-l-12">
      <rule context="tei:p">
                    <report test="(ancestor::tei:l or ancestor::tei:lg)                          and not(parent::tei:figure or parent::tei:note or ancestor::tei:floatingText or parent::tei:footNote)">
                        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab, unless p is a child of figure or note, or is a descendant of floatingText.
                    </report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-p-abstractModel-structure-p-in-l-or-lg-13">
      <rule context="tei:p">
         <report test="    (ancestor::tei:l or ancestor::tei:lg)                          and not( ancestor::tei:floatingText                                 |parent::tei:figure                                 |parent::tei:note                                )">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab, unless p is a child of figure or note, or is a descendant of floatingText.
      </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-rs-rs-typeNkey-14">
                    <rule context="tei:rs[@type='person'][@key]">
                        <assert test="matches(@key, '^A00[0-9A-F]{4}$')">A type value of 'person' must have only one key, starting with 'A00'</assert>
                    </rule>
                    <rule context="tei:rs[@type='persons'][@key]">
                        <assert test="matches(@key, '^(A00[0-9A-F]{4}\s)*A00[0-9A-F]{4}$')">A type value of 'persons' must have at least one key, each starting with 'A00'</assert>
                    </rule>
                    <rule context="tei:rs[@type='work'][@key]">
                        <assert test="matches(@key, '^A02\d{4}$')">A type value of 'work' must have only one key, starting with 'A02'</assert>
                    </rule>
                    <rule context="tei:rs[@type='works'][@key]">
                        <assert test="matches(@key, '^(A02\d{4}\s)*A02\d{4}$')">A type value of 'works' must have at least one key, each starting with 'A02'</assert>
                    </rule>
                    <rule context="tei:rs[@type='writing'][@key]">
                        <assert test="matches(@key, '^A03\d{4}$')">A type value of 'writing' must have only one key, starting with 'A03'</assert>
                    </rule>
                    <rule context="tei:rs[@type='writings'][@key]">
                        <assert test="matches(@key, '^(A03\d{4}\s)*A03\d{4}$')">A type value of 'writings' must have at least one key, each starting with 'A03'</assert>
                    </rule>
                    <rule context="tei:rs[@type='letter'][@key]">
                        <assert test="matches(@key, '^A04\d{4}$')">A type value of 'letter' must have only one key, starting with 'A04'</assert>
                    </rule>
                    <rule context="tei:rs[@type='letters'][@key]">
                        <assert test="matches(@key, '^(A04\d{4}\s)*A04\d{4}$')">A type value of 'letters' must have at least one key, each starting with 'A04'</assert>
                    </rule>
                    <rule context="tei:rs[@type='news'][@key]">
                        <assert test="matches(@key, '^(A05\d{4}\s)*A05\d{4}$')">A type value of 'news' must have at least one key, starting with 'A05'</assert>
                    </rule>
                    <rule context="tei:rs[@type='diaryDay'][@key]">
                        <assert test="matches(@key, '^A06\d{4}$')">A type value of 'diaryDay' must have only one key, starting with 'A06'</assert>
                    </rule>
                    <rule context="tei:rs[@type='diaryDays'][@key]">
                        <assert test="matches(@key, '^(A06\d{4}\s)*A06\d{4}$')">A type value of 'diaryDays' must have at least one key, each starting with 'A06'</assert>
                    </rule>
                    <rule context="tei:rs[@type='org'][@key]">
                        <assert test="matches(@key, '^A08\d{4}$')">A type value of 'org' must have only one key, starting with 'A08'</assert>
                    </rule>
                    <rule context="tei:rs[@type='orgs'][@key]">
                        <assert test="matches(@key, '^(A08\d{4}\s)*A08\d{4}$')">A type value of 'orgs' must have at least one key, each starting with 'A08'</assert>
                    </rule>
                    <rule context="tei:rs[@type='document'][@key]">
                        <assert test="matches(@key, '^A10\d{4}$')">A type value of 'document' must have only one key, starting with 'A10'</assert>
                    </rule>
                    <rule context="tei:rs[@type='documents'][@key]">
                        <assert test="matches(@key, '^(A10\d{4}\s)*A10\d{4}$')">A type value of 'documents' must have at least one key, each starting with 'A10'</assert>
                    </rule>
                    <rule context="tei:rs[@type='biblio'][@key]">
                        <assert test="matches(@key, '^(A11\d{4}\s)*A11\d{4}$')">A type value of 'biblio' must have at least one key, each starting with 'A11'</assert>
                    </rule>
                    <rule context="tei:rs[@type='addenda'][@key]">
                        <assert test="matches(@key, '^A12\d{4}$')">A type value of 'addenda' must have only one key, starting with 'A12'</assert>
                    </rule>
                    <rule context="tei:rs[@type='place'][@key]">
                        <assert test="matches(@key, '^A13\d{4}$')">A type value of 'place' must have only one key, starting with 'A13'</assert>
                    </rule>
                    <rule context="tei:rs[@type='places'][@key]">
                        <assert test="matches(@key, '^(A13\d{4}\s)*A13\d{4}$')">A type value of 'places' must have at least one key, each starting with 'A13'</assert>
                    </rule>
                    <rule context="tei:rs[@type='mixed'][@key]">
                        <assert test="count(distinct-values(for $i in tokenize(@key, '\s+') return substring($i, 1, 3))) gt 1">A type value of 'mixed' must have keys referring to different document types</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-date-dateHeuristics2-15">
                    <rule context="tei:date[@notBefore castable as xs:date and @notAfter castable as xs:date]">
                        <report test="xs:date(@notBefore) gt xs:date(@notAfter)">the date value of notBefore is later than notAfter</report>
                    </rule>
                    <rule context="tei:date[@notBefore castable as xs:gYear and @notAfter castable as xs:gYear]">
                        <report test="xs:date(concat(@notBefore, '-01-01')) gt xs:date(concat(@notAfter, '-01-01'))">the date value of notBefore is later than notAfter</report>
                    </rule>
                    <rule context="tei:date[@notBefore castable as xs:gYear and @notAfter castable as xs:date]">
                        <report test="xs:date(concat(@notBefore, '-01-01')) gt xs:date(@notAfter)">the date value of notBefore is later than notAfter</report>
                    </rule>
                    <rule context="tei:date[@notBefore castable as xs:date and @notAfter castable as xs:gYear]">
                        <report test="xs:date(@notBefore) gt xs:date(concat(@notAfter, '-12-31'))">the date value of notBefore is later than notAfter</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-date-dateHeuristics3-16">
      <rule context="tei:date">
                    <report test="(@from or @to) and (@when or @notAfter or @notBefore)">cooccurence of date and duration attributes</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-date-dateHeuristics4-17">
      <rule context="tei:date">
                    <report test="@when and (@notAfter or @notBefore)">cooccurence of exact and uncertain date attributes</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-date-dateHeuristics5-18">
      <rule context="tei:date">
                    <assert test="@when or @notBefore or @notAfter or @from or @to or @cert='unknown' or matches(., '0000|o\.J\.|unknown') or ancestor::tei:text">tei:date benötigt ein Attribut @when, @notBefore o.ä.</assert>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-date-dateHeuristics6-19">
                    <rule context="tei:date[some $i in (@when, @notBefore, @notAfter, @from, @to) satisfies $i castable as xs:date]">
                        <report test="every $j in (@when, @notBefore, @notAfter, @from, @to)[. castable as xs:date] satisfies xs:date($j) gt current-date()">some attribute value of <name/> is greater than the current date</report>
                    </rule>
                    <rule context="tei:date[some $i in (@when, @notBefore, @notAfter, @from, @to) satisfies $i castable as xs:gYear]">
                        <report test="every $j in (@when, @notBefore, @notAfter, @from, @to)[. castable as xs:gYear] satisfies number($j) gt year-from-date(current-date())">some attribute value of <name/> is greater than the current date</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-date-julian-before-1582-20">
                    <rule context="tei:date[@calendar='Julian']">
                        <report test="some $i in (@when, @notBefore, @notAfter, @from, @to) satisfies $i lt '1582-10-15'">Before October 15, 1582 the default calendar is Julian so no extra calendar declaration is needed.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-ref-prev-next-correspContext-21">
      <rule context="tei:ref">
                    <report test="@type=('previousLetterFromAddressee', 'nextLetterFromAddressee') and not(parent::tei:correspContext)">'previousLetterFromAddressee' and 'nextLetterFromAddressee' are only used within the correspContext element.</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-ref-refAtts-22">
      <rule context="tei:ref">
         <report test="@target and @cRef">Only one of the
	attributes @target' and @cRef' may be supplied on <name/>
         </report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-note-note-in-text-23">
                    <rule context="tei:note[not(parent::tei:org or parent::tei:person or parent::tei:notesStmt or parent::tei:biblStruct or parent::tei:imprint)]">
                        <assert test="@type and @resp and @xml:id">It is required to provide @type and @resp and @xml:id on note.</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-note-thematicCom-target-24">
                    <rule context="tei:note[@type='thematicCom' or @target]">
                        <assert test="@type='thematicCom' and @target">You need to provide thematic commentary targets (Only @type='thematicCom' and @target go together!).</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-note-thematicCom-must-be-empty-25">
                    <rule context="tei:note[@type='thematicCom' or @target]">
                        <report test="normalize-space() ne''">Thematic commentaries must not contain any text.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-note-notesStmt-notes-26">
                    <rule context="tei:note[parent::tei:notesStmt]">
                        <assert test="@type=('editorial', 'summary', 'thematicCom', 'incipit', 'textConst')">Within the notesStmt only 'editorial', 'summary', 'textConst', or 'thematicCom' are allowed for @type on note.</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-note-text-notes-27">
                    <rule context="tei:note[not(parent::tei:notesStmt)]">
                        <report test="@type=('editorial', 'summary', 'incipit')">The note types 'editorial', 'summary', or 'thematicCom' are not allowed within the text section but only in the notesStmt.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-note-structured-content-notes-28">
                    <rule context="tei:note[parent::tei:notesStmt][tei:p|tei:list|tei:table]">
                        <report test="text()[matches(., '\w')] or *[not(self::tei:p or self::tei:list or self::tei:table)]">There must be no mixed content when a tei:p, tei:list, or tei:table is present.</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-note-initial-uppercase-commentaries-29">
                    <rule context="tei:note[@type='commentary'][not(*[1]/self::tei:q or *[1]/self::tei:quote)]">
                        <assert test="matches(replace(normalize-unicode(normalize-space(.), 'NFKD'),  '[\p{M}]', ''), '^[A-Z0-9]')">Commentary notes must start with an upper case letter.</assert>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-analytic-analyticTitle-30">
      <rule context="tei:analytic">
                    <report test="tei:title/@level and not(tei:title/@level='a')">a title within analytic must have a @level='a'</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-monogr-monogrTitle-31">
      <rule context="tei:monogr">
                    <report test="tei:title/@level and not(tei:title/@level=('j','m','u'))">a title within monogr must have a @level='j|m'</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-series-seriesTitle-32">
      <rule context="tei:series">
                    <report test="tei:title/@level and not(tei:title/@level='s')">a title within series must have a @level='s'</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-author-sameAs-sameAs-reference-33">
                            <rule context="tei:author[@sameAs]">
                                <assert test="id(substring(@sameAs,2)) or starts-with(@sameAs, 'wega:')">There must be an element with the xml:id = "<value-of select="substring(@sameAs,2)"/>" which is the target of this @sameAs.</assert>
                            </rule>
                        </pattern>
   <pattern id="schematron-constraint-wegaBiblio-title-duplicate-title-34">
                    <rule context="tei:title[following-sibling::tei:title]">
                        <let name="level" value="@level"/>
                        <let name="type" value="string(@type)"/> 
                        <let name="lang" value="string(@xml:lang)"/>
                        <report test="following-sibling::tei:title[@level = $level][string(@xml:lang) = $lang][string(@type) = $type]">Following title without differing @type or xml:lang attribute</report>
                    </rule>
                </pattern>
   <pattern id="schematron-constraint-wegaBiblio-title-punctuation-mark-35">
      <rule context="tei:title">
                    <report test="matches(normalize-space(self::tei:title), '[\.,;]$') and not(matches(normalize-space(self::tei:title), '((\p{Lu})|(\setc)|(\sal)|([\s\.]a)|(\sBl)|(\sAufl))\.$'))">Found a non-valid punctuation mark at the end of <name/> 
         </report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-title-report-leading-zeros-36">
      <rule context="tei:title">
                    <report test="matches(., '\s0\d+\.')">please do not prefix numbers with a zero</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-title-report-quotation-marks-37">
      <rule context="tei:title">
                    <report test="matches(., '&#34;“„')">please replace literal quotation marks with q-tags</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-imprint-duplicate-biblScope-type-38">
      <rule context="tei:imprint">
                    <report test="count(distinct-values(tei:biblScope/@type)) ne count(tei:biblScope/@type)">duplicate value for biblScope</report>
                </rule>
   </pattern>
   <pattern id="schematron-constraint-wegaBiblio-styleguide-document-node-content-39">
                <rule context="document-node()">
                    <report test="count(processing-instruction()) ne 2">WeGA styleguide error: there should exactly be two processing instructions before the root element</report>
                    <report test="comment()">WeGA styleguide error: there should be no comments outside the root element</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaBiblio-whitespaceOnlyContent-40">
                <rule context="tei:surname | tei:forename | tei:persName | tei:author[not(@sameAs)] | tei:occupation | tei:settlement | tei:country | tei:region | tei:rs | tei:workName | tei:characterName | tei:hi[not(.//tei:gap)] | tei:head | tei:note[not(@type=('thematicCom'))] | tei:placeName | tei:title | tei:seg | tei:item[not(@* or *)]">
                    <report test="normalize-space(.) = ''">
            <name/> has whitespace only content</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaBiblio-elementStartsWithWhitespace-41">
                <rule context="tei:surname | tei:forename | tei:persName[not(@type)] | tei:author | tei:occupation | tei:settlement | tei:country | tei:region | tei:rs | tei:workName | tei:characterName | tei:hi | tei:placeName[not(parent::tei:address or parent::tei:birth or parent::tei:death)]">
                    <report test="matches(.,'^\s') and (node()[1] = text()[1])">whitespace at the beginning of element <name/>
         </report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaBiblio-untrimmedAttributeValues-42">
                <rule context="*[@*]">
                    <report test="some $i in @* satisfies string-length(normalize-unicode(normalize-space(replace($i, ' | | | ', ' ')))) ne string-length($i)">There is some whitespace here at the beginning or end of some attribute value.</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaBiblio-wegaTargets-43">
                <rule context="*[starts-with(@target, 'wega:')]">
                    <assert test="matches(@target, '^wega:A[0-9A-F]{6}(#.+)?(\s+wega:A[0-9A-F]{6}(#.+)?)*$')">"wega"-prefixed URIs must follow the pattern "wega:A002068" (i.e. without any file extension)</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaBiblio-emojiCheck-44">
                <rule context="*[some $i in text() satisfies normalize-space($i) ne '']">
                    <report test="matches(., '[⌚-⌛]|[⏩-⏬]|[⏰]|[⏳]|[◽-◾]|[☔-☕]|[♈-♓]|[♿]|[⚓]|[⚡]|[⚪-⚫]|[⚽-⚾]|[⛄-⛅]|[⛎]|[⛔]|[⛪]|[⛲-⛳]|[⛵]|[⛺]|[⛽]|[✅]|[✊-✋]|[✨]|[❌]|[❎]|[❓-❕]|[❗]|[➕-➗]|[➰]|[➿]|[⬛-⬜]|[⭐]|[⭕]|[🀄]|[🃏]|[🆎]|[🆑-🆚]|[🇦-🇿]|[🈁]|[🈚]|[🈯]|[🈲-🈶]|[🈸-🈺]|[🉐-🉑]|[🌀-🌠]|[🌭-🌯]|[🌰-🌵]|[🌷-🍼]|[🍾-🍿]|[🎀-🎓]|[🎠-🏄]|[🏅]|[🏆-🏊]|[🏏-🏓]|[🏠-🏰]|[🏴]|[🏸-🏿]|[🐀-🐾]|[👀]|[👂-📷]|[📸]|[📹-📼]|[📿]|[🔀-🔽]|[🕋-🕎]|[🕐-🕧]|[🕺]|[🖕-🖖]|[🖤]|[🗻-🗿]|[😀]|[😁-😐]|[😑]|[😒-😔]|[😕]|[😖]|[😗]|[😘]|[😙]|[😚]|[😛]|[😜-😞]|[😟]|[😠-😥]|[😦-😧]|[😨-😫]|[😬]|[😭]|[😮-😯]|[😰-😳]|[😴]|[😵-🙀]|[🙁-🙂]|[🙃-🙄]|[🙅-🙏]|[🚀-🛅]|[🛌]|[🛐]|[🛑-🛒]|[🛕]|[🛫-🛬]|[🛴-🛶]|[🛷-🛸]|[🛹]|[🛺]|[🟠-🟫]|[🤍-🤏]|[🤐-🤘]|[🤙-🤞]|[🤟]|[🤠-🤧]|[🤨-🤯]|[🤰]|[🤱-🤲]|[🤳-🤺]|[🤼-🤾]|[🤿]|[🥀-🥅]|[🥇-🥋]|[🥌]|[🥍-🥏]|[🥐-🥞]|[🥟-🥫]|[🥬-🥰]|[🥱]|[🥳-🥶]|[🥺]|[🥻]|[🥼-🥿]|[🦀-🦄]|[🦅-🦑]|[🦒-🦗]|[🦘-🦢]|[🦥-🦪]|[🦮-🦯]|[🦰-🦹]|[🦺-🦿]|[🧀]|[🧁-🧂]|[🧃-🧊]|[🧍-🧏]|[🧐-🧦]|[🧧-🧿]|[🩰-🩳]|[🩸-🩺]|[🪀-🪂]|[🪐-🪕]')">Text contains characters with Emoji presentation as default.</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaBiblio-sourceMustResolve-45">
                <rule context="*[starts-with(@source, '#')]">
                    <let name="source" value="@source"/>
                    <assert test="id(substring($source,2))">Unable to locate the reference provided by the @source attribute.</assert>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaBiblio-anonymus-id-46">
                <rule context="*[@key|@codedval]">
                    <report test="(@key | @codedval) = 'A007979'">Please do not link to the anonymus ID.</report>
                </rule>
            </pattern>
   <pattern id="schematron-constraint-wegaBiblio-att.wega.rend-underline-n-47">
                    <rule context="*:hi[@n] | *:rend[@n]">
                        <report test="@rend ne 'underline'">The @n-attribute is only supported in combination with @rend='underline'</report>
                    </rule>
                </pattern>
</schema>
