schema/en/wegaPlaces.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.tei-c.org/ns/1.0">
  <!--
Schema generated from ODD source 2014-04-25T13:44:51Z. 
Edition: Version 2.6.0. Last updated on
	20th January 2014, revision 12802
Edition Location: http://www.tei-c.org/Vault/P5/Version 2.6.0/
  
-->
  <!--This work is licensed under a Creative Commons Attribution 3.0 Unported License (CC BY 3.0).-->
  <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
  <define name="macro.phraseSeq">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.gLike"/>
        <ref name="model.phrase"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="data.certainty">
    <choice>
      <value>high</value>
      <value>medium</value>
      <value>low</value>
      <value>unknown</value>
    </choice>
  </define>
  <define name="data.probability">
    <data type="double">
      <param name="minInclusive">0</param>
      <param name="maxInclusive">1</param>
    </data>
  </define>
  <define name="data.numeric">
    <choice>
      <data type="double"/>
      <data type="token">
        <param name="pattern">(\-?[\d]+/\-?[\d]+)</param>
      </data>
      <data type="decimal"/>
    </choice>
  </define>
  <define name="data.count">
    <data type="nonNegativeInteger"/>
  </define>
  <define name="data.temporal.w3c">
    <choice>
      <data type="date"/>
      <data type="gYear"/>
      <data type="gMonth"/>
      <data type="gDay"/>
      <data type="gYearMonth"/>
      <data type="gMonthDay"/>
      <data type="time"/>
      <data type="dateTime"/>
    </choice>
  </define>
  <define name="data.xTruthValue">
    <choice>
      <data type="boolean"/>
      <value>unknown</value>
      <value>inapplicable</value>
    </choice>
  </define>
  <define name="data.language">
    <choice>
      <data type="language"/>
      <value/>
    </choice>
  </define>
  <define name="data.pointer">
    <data type="anyURI"/>
  </define>
  <define name="data.word">
    <data type="token">
      <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
    </data>
  </define>
  <define name="data.text">
    <data type="string"/>
  </define>
  <define name="data.name">
    <data type="Name"/>
  </define>
  <define name="data.enumerated">
    <ref name="data.name"/>
  </define>
  <define name="data.temporal.iso">
    <choice>
      <data type="date"/>
      <data type="gYear"/>
      <data type="gMonth"/>
      <data type="gDay"/>
      <data type="gYearMonth"/>
      <data type="gMonthDay"/>
      <data type="time"/>
      <data type="dateTime"/>
      <data type="token">
        <param name="pattern">[0-9.,DHMPRSTWYZ/:+\-]+</param>
      </data>
    </choice>
  </define>
  <define name="key.places.pattern">
    <data type="string">
      <param name="pattern">A13\d{4}</param>
    </data>
  </define>
  <define name="att.canonical.attributes">
    <ref name="att.canonical.attribute.key"/>
    <ref name="att.canonical.attribute.ref"/>
  </define>
  <define name="att.canonical.attribute.key">
    <optional>
      <attribute name="key">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</a:documentation>
        <ref name="data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="att.canonical.attribute.ref">
    <optional>
      <attribute name="ref">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) provides an explicit means of locating a full definition for the entity being named by means of one or more URIs.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.ranging.attributes">
    <ref name="att.ranging.attribute.atLeast"/>
    <ref name="att.ranging.attribute.atMost"/>
    <ref name="att.ranging.attribute.min"/>
    <ref name="att.ranging.attribute.max"/>
    <ref name="att.ranging.attribute.confidence"/>
  </define>
  <define name="att.ranging.attribute.atLeast">
    <optional>
      <attribute name="atLeast">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a minimum estimated value for the approximate measurement.</a:documentation>
        <ref name="data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="att.ranging.attribute.atMost">
    <optional>
      <attribute name="atMost">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a maximum estimated value for the approximate measurement.</a:documentation>
        <ref name="data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="att.ranging.attribute.min">
    <optional>
      <attribute name="min">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">where the measurement summarizes more than one observation or a range, supplies the minimum value observed.</a:documentation>
        <ref name="data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="att.ranging.attribute.max">
    <optional>
      <attribute name="max">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">where the measurement summarizes more than one observation or a range, supplies the maximum value observed.</a:documentation>
        <ref name="data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="att.ranging.attribute.confidence">
    <optional>
      <attribute name="confidence">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the degree of statistical confidence (between zero and one) that a value falls within the range specified by min and max, or the proportion of observed values that fall within that range.</a:documentation>
        <ref name="data.probability"/>
      </attribute>
    </optional>
  </define>
  <define name="att.dimensions.attributes">
    <ref name="att.ranging.attributes"/>
    <ref name="att.dimensions.attribute.unit"/>
    <ref name="att.dimensions.attribute.quantity"/>
    <ref name="att.dimensions.attribute.extent"/>
    <ref name="att.dimensions.attribute.precision"/>
    <ref name="att.dimensions.attribute.scope"/>
  </define>
  <define name="att.dimensions.attribute.unit">
    <optional>
      <attribute name="unit">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">names the unit used for the measurement
Suggested values include: 1] cm; 2] mm; 3] in; 4] lines; 5] chars</a:documentation>
        <choice>
          <value>cm</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(centimetres) </a:documentation>
          <value>mm</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(millimetres) </a:documentation>
          <value>in</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(inches) </a:documentation>
          <value>lines</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">lines of text</a:documentation>
          <value>chars</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(characters) characters of text</a:documentation>
          <data type="Name"/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.dimensions.attribute.quantity">
    <optional>
      <attribute name="quantity">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the length in the units specified</a:documentation>
        <ref name="data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="att.dimensions.attribute.extent">
    <optional>
      <attribute name="extent">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the size of the object concerned using a project-specific vocabulary combining quantity and units in a single string of words.</a:documentation>
        <ref name="data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="att.dimensions.attribute.precision">
    <optional>
      <attribute name="precision">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the precision of the values specified by the other attributes.</a:documentation>
        <ref name="data.certainty"/>
      </attribute>
    </optional>
  </define>
  <define name="att.dimensions.attribute.scope">
    <optional>
      <attribute name="scope">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">where the measurement summarizes more than one observation, specifies the applicability of this measurement.
Sample values include: 1] all; 2] most; 3] range</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.w3c.attributes">
    <ref name="att.datable.w3c.attribute.when"/>
    <ref name="att.datable.w3c.attribute.notBefore"/>
    <ref name="att.datable.w3c.attribute.notAfter"/>
    <ref name="att.datable.w3c.attribute.from"/>
    <ref name="att.datable.w3c.attribute.to"/>
  </define>
  <define name="att.datable.w3c.attribute.when">
    <optional>
      <attribute name="when">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.w3c.attribute.notBefore">
    <optional>
      <attribute name="notBefore">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.w3c.attribute.notAfter">
    <optional>
      <attribute name="notAfter">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.w3c.attribute.from">
    <optional>
      <attribute name="from">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.w3c.attribute.to">
    <optional>
      <attribute name="to">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.attributes">
    <ref name="att.datable.w3c.attributes"/>
    <ref name="att.datable.iso.attributes"/>
    <ref name="att.datable.custom.attributes"/>
    <ref name="att.datable.attribute.calendar"/>
    <ref name="att.datable.attribute.period"/>
  </define>
  <define name="att.datable.attribute.calendar">
    <optional>
      <attribute name="calendar">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the system or calendar to which the date represented by the content of this element belongs.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="calendar-constraint-calendar">
    <sch:rule xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:s="http://www.ascc.net/xml/schematron" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xi="http://www.w3.org/2001/XInclude" context="tei:*[@calendar]">
      <sch:assert test="string-length(.) gt 0">
@calendar indicates the system or calendar to which the date represented by the content of this element
belongs, but this <sch:name/> element has no textual content.</sch:assert>
    </sch:rule>
  </pattern>
  <define name="att.datable.attribute.period">
    <optional>
      <attribute name="period">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to some location defining a named period of time within which the datable item is understood to have occurred.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.responsibility.attributes">
    <ref name="att.source.attributes"/>
    <ref name="att.responsibility.attribute.cert"/>
    <ref name="att.responsibility.attribute.resp"/>
  </define>
  <define name="att.responsibility.attribute.cert">
    <optional>
      <attribute name="cert">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(certainty) signifies the degree of certainty associated with the intervention or interpretation.</a:documentation>
        <ref name="data.certainty"/>
      </attribute>
    </optional>
  </define>
  <define name="att.responsibility.attribute.resp">
    <optional>
      <attribute name="resp">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.editLike.attributes">
    <ref name="att.dimensions.attributes"/>
    <ref name="att.responsibility.attributes"/>
    <ref name="att.editLike.attribute.evidence"/>
    <ref name="att.editLike.attribute.instant"/>
  </define>
  <define name="att.editLike.attribute.evidence">
    <optional>
      <attribute name="evidence">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the nature of the evidence supporting the reliability or accuracy of the intervention or interpretation.
Suggested values include: 1] internal; 2] external; 3] conjecture</a:documentation>
        <list>
          <oneOrMore>
            <choice>
              <value>internal</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">there is internal evidence to support the intervention.</a:documentation>
              <value>external</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">there is external evidence to support the intervention.</a:documentation>
              <value>conjecture</value>
              <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the intervention or interpretation has been made by the editor, cataloguer, or scholar on the basis of their expertise.</a:documentation>
              <data type="Name"/>
            </choice>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.editLike.attribute.instant">
    <optional>
      <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="instant" a:defaultValue="false">
        <a:documentation>indicates whether this is an instant revision or not.</a:documentation>
        <ref name="data.xTruthValue"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attributes">
    <ref name="att.global.attribute.xmlid"/>
    <ref name="att.global.attribute.n"/>
    <ref name="att.global.attribute.xmllang"/>
    <ref name="att.global.attribute.rend"/>
    <ref name="att.global.attribute.style"/>
    <ref name="att.global.attribute.rendition"/>
    <ref name="att.global.attribute.xmlbase"/>
    <ref name="att.global.attribute.xmlspace"/>
  </define>
  <define name="att.global.attribute.xmlid">
    <optional>
      <attribute name="xml:id">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.n">
    <optional>
      <attribute name="n">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</a:documentation>
        <ref name="data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.xmllang">
    <optional>
      <attribute name="xml:lang">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language) indicates the language of the element content using a tag generated according to BCP 47.</a:documentation>
        <ref name="data.language"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.rend">
    <optional>
      <attribute name="rend">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rendition) indicates how the element in question was rendered or presented in the source text.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.style">
    <optional>
      <attribute name="style">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</a:documentation>
        <ref name="data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.rendition">
    <optional>
      <attribute name="rendition">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a description of the rendering or presentation used for this element in the source text.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.xmlbase">
    <optional>
      <attribute name="xml:base">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a base URI reference with which applications can resolve relative URI references into absolute URI references.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.xmlspace">
    <optional>
      <attribute name="xml:space">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals an intention about how white space should be managed by applications.</a:documentation>
        <choice>
          <value>default</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals that the application's default white-space processing modes are acceptable</a:documentation>
          <value>preserve</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the intent that applications preserve all white space</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.naming.attributes">
    <ref name="att.canonical.attributes"/>
    <ref name="att.naming.attribute.role"/>
    <ref name="att.naming.attribute.nymRef"/>
  </define>
  <define name="att.naming.attribute.role">
    <optional>
      <attribute name="role">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">may be used to specify further information about the entity referenced by this name, for example the occupation of a person, or the status of a place.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.naming.attribute.nymRef">
    <optional>
      <attribute name="nymRef">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference to the canonical name) provides a means of locating the canonical form (nym) of the names associated with the object named by the element bearing it.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.typed.attributes">
    <ref name="att.typed.attribute.type"/>
    <ref name="att.typed.attribute.subtype"/>
  </define>
  <define name="att.typed.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.typed.attribute.subtype">
    <optional>
      <attribute name="subtype">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a sub-categorization of the element, if needed</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="att.typed-constraint-subtypeTyped">
    <sch:rule xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:s="http://www.ascc.net/xml/schematron" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xi="http://www.w3.org/2001/XInclude" context="*[@subtype]">
      <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype
 unless also categorized in general with @type</sch:assert>
    </sch:rule>
  </pattern>
  <define name="model.measureLike">
    <choice>
      <ref name="geo"/>
    </choice>
  </define>
  <define name="model.measureLike_alternation">
    <choice>
      <ref name="geo"/>
    </choice>
  </define>
  <define name="model.measureLike_sequence">
    <ref name="geo"/>
  </define>
  <define name="model.measureLike_sequenceOptional">
    <optional>
      <ref name="geo"/>
    </optional>
  </define>
  <define name="model.measureLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="geo"/>
    </zeroOrMore>
  </define>
  <define name="model.measureLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="geo"/>
    </oneOrMore>
  </define>
  <define name="model.gLike">
    <notAllowed/>
  </define>
  <define name="model.placeNamePart">
    <choice>
      <ref name="placeName"/>
      <ref name="country"/>
    </choice>
  </define>
  <define name="model.placeNamePart_alternation">
    <choice>
      <ref name="placeName"/>
      <ref name="country"/>
    </choice>
  </define>
  <define name="model.placeNamePart_sequence">
    <ref name="placeName"/>
    <ref name="country"/>
  </define>
  <define name="model.placeNamePart_sequenceOptional">
    <optional>
      <ref name="placeName"/>
    </optional>
    <optional>
      <ref name="country"/>
    </optional>
  </define>
  <define name="model.placeNamePart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="placeName"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="country"/>
    </zeroOrMore>
  </define>
  <define name="model.placeNamePart_sequenceRepeatable">
    <oneOrMore>
      <ref name="placeName"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="country"/>
    </oneOrMore>
  </define>
  <define name="model.placeStateLike">
    <choice>
      <ref name="model.placeNamePart"/>
      <ref name="location"/>
    </choice>
  </define>
  <define name="model.placeStateLike_alternation">
    <choice>
      <ref name="model.placeNamePart_alternation"/>
      <ref name="location"/>
    </choice>
  </define>
  <define name="model.placeStateLike_sequence">
    <ref name="model.placeNamePart_sequence"/>
    <ref name="location"/>
  </define>
  <define name="model.placeStateLike_sequenceOptional">
    <optional>
      <ref name="model.placeNamePart_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="location"/>
    </optional>
  </define>
  <define name="model.placeStateLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.placeNamePart_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="location"/>
    </zeroOrMore>
  </define>
  <define name="model.placeStateLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.placeNamePart_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="location"/>
    </oneOrMore>
  </define>
  <define name="model.nameLike">
    <choice>
      <ref name="model.placeStateLike"/>
      <ref name="idno"/>
    </choice>
  </define>
  <define name="model.nameLike_alternation">
    <choice>
      <ref name="model.placeStateLike_alternation"/>
      <ref name="idno"/>
    </choice>
  </define>
  <define name="model.nameLike_sequence">
    <ref name="model.placeStateLike_sequence"/>
    <ref name="idno"/>
  </define>
  <define name="model.nameLike_sequenceOptional">
    <optional>
      <ref name="model.placeStateLike_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="idno"/>
    </optional>
  </define>
  <define name="model.nameLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.placeStateLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="idno"/>
    </zeroOrMore>
  </define>
  <define name="model.nameLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.placeStateLike_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="idno"/>
    </oneOrMore>
  </define>
  <define name="model.global">
    <notAllowed/>
  </define>
  <define name="model.pPart.data">
    <choice>
      <ref name="model.measureLike"/>
      <ref name="model.nameLike"/>
    </choice>
  </define>
  <define name="model.phrase">
    <choice>
      <ref name="model.pPart.data"/>
    </choice>
  </define>
  <define name="att.source.attributes">
    <ref name="att.source.attribute.source"/>
  </define>
  <define name="att.source.attribute.source">
    <optional>
      <attribute name="source">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a pointer to the bibliographical source from which a quotation or citation is drawn.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.personal.attributes">
    <ref name="att.naming.attributes"/>
    <ref name="att.personal.attribute.full"/>
    <ref name="att.personal.attribute.sort"/>
  </define>
  <define name="att.personal.attribute.full">
    <optional>
      <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="full" a:defaultValue="yes">
        <a:documentation>indicates whether the name component is given in full, as an abbreviation or simply as an initial.</a:documentation>
        <choice>
          <value>yes</value>
          <a:documentation>the name component is spelled out in full.</a:documentation>
          <value>abb</value>
          <a:documentation>(abbreviated) the name component is given in an abbreviated form.</a:documentation>
          <value>init</value>
          <a:documentation>(initial letter) the name component is indicated only by one initial.</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.personal.attribute.sort">
    <optional>
      <attribute name="sort">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sort order of the name component in relation to others within the name.</a:documentation>
        <ref name="data.count"/>
      </attribute>
    </optional>
  </define>
  <define name="idno">
    <element name="idno">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.4. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="model.gLike"/>
          <ref name="idno"/>
        </choice>
      </zeroOrMore>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
        <choice>
          <value>geonames</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">ID taken from http://www.geonames.org/</a:documentation>
          <value>getty</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">ID taken from http://www.getty.edu/research/tools/vocabularies/tgn/</a:documentation>
        </choice>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="att.datable.custom.attributes">
    <ref name="att.datable.custom.attribute.when-custom"/>
    <ref name="att.datable.custom.attribute.notBefore-custom"/>
    <ref name="att.datable.custom.attribute.notAfter-custom"/>
    <ref name="att.datable.custom.attribute.from-custom"/>
    <ref name="att.datable.custom.attribute.to-custom"/>
    <ref name="att.datable.custom.attribute.datingPoint"/>
    <ref name="att.datable.custom.attribute.datingMethod"/>
  </define>
  <define name="att.datable.custom.attribute.when-custom">
    <optional>
      <attribute name="when-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in some standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.custom.attribute.notBefore-custom">
    <optional>
      <attribute name="notBefore-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in some custom standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.custom.attribute.notAfter-custom">
    <optional>
      <attribute name="notAfter-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in some custom standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.custom.attribute.from-custom">
    <optional>
      <attribute name="from-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in some standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.custom.attribute.to-custom">
    <optional>
      <attribute name="to-custom">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in some standard form.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.custom.attribute.datingPoint">
    <optional>
      <attribute name="datingPoint">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to some location defining a named point in time with reference to which the datable item is understood to have occurred</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.custom.attribute.datingMethod">
    <optional>
      <attribute name="datingMethod">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to a calendar element or other means of interpreting the values of the custom dating attributes.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.iso.attributes">
    <ref name="att.datable.iso.attribute.when-iso"/>
    <ref name="att.datable.iso.attribute.notBefore-iso"/>
    <ref name="att.datable.iso.attribute.notAfter-iso"/>
    <ref name="att.datable.iso.attribute.from-iso"/>
    <ref name="att.datable.iso.attribute.to-iso"/>
  </define>
  <define name="att.datable.iso.attribute.when-iso">
    <optional>
      <attribute name="when-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of a date or time in a standard form.</a:documentation>
        <ref name="data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.iso.attribute.notBefore-iso">
    <optional>
      <attribute name="notBefore-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.iso.attribute.notAfter-iso">
    <optional>
      <attribute name="notAfter-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
        <ref name="data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.iso.attribute.from-iso">
    <optional>
      <attribute name="from-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form.</a:documentation>
        <ref name="data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.iso.attribute.to-iso">
    <optional>
      <attribute name="to-iso">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form.</a:documentation>
        <ref name="data.temporal.iso"/>
      </attribute>
    </optional>
  </define>
  <define name="placeName">
    <element name="placeName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an absolute or relative place name. [13.2.3. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.datable.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.global.attributes"/>
      <ref name="att.personal.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="country">
    <element name="country">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(country) contains the name of a geo-political unit, such as a nation, country, colony, or commonwealth, larger than or administratively superior to a region and smaller than a bloc. [13.2.3. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.datable.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="geo">
    <element name="geo">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(geographical coordinatesgeographische Koordinaten) contains any expression of a set of geographic coordinates, representing a point, line, or area on the surface of the earth in some notation. [13.3.4.1. ]</a:documentation>
      <text/>
    </element>
  </define>
  <define name="location">
    <element name="location">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">defines the location of a place as a set of geographical coordinates, in terms of other named geo-political entities, or as an address. [13.3.4. ]</a:documentation>
      <ref name="geo"/>
    </element>
  </define>
  <define name="place">
    <element name="place">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains data about a geographic location. [13.3.4. ]</a:documentation>
      <choice>
        <element name="ref">
          <attribute name="type">
            <choice>
              <value>duplicate</value>
              <value>deletion</value>
            </choice>
          </attribute>
          <attribute name="target">
            <ref name="key.places.pattern"/>
          </attribute>
          <empty/>
        </element>
        <group>
          <oneOrMore>
            <ref name="placeName"/>
          </oneOrMore>
          <optional>
            <ref name="location"/>
          </optional>
          <zeroOrMore>
            <ref name="idno"/>
          </zeroOrMore>
        </group>
      </choice>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="place-constraint-placeName_reg">
        <rule context="tei:place">
          <sch:assert xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:s="http://www.ascc.net/xml/schematron" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xi="http://www.w3.org/2001/XInclude" test="tei:placeName[1][@type='reg'] and count(./tei:placeName[@type='reg']) = 1">tei:place muss (genau) ein placeName@type="reg" enthalten</sch:assert>
        </rule>
      </pattern>
      <attribute name="xml:id">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
        <ref name="key.places.pattern"/>
      </attribute>
      <empty/>
    </element>
  </define>
  <start>
    <choice>
      <ref name="place"/>
    </choice>
  </start>
  <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="wegaPlaces-constraint-whitespaceOnlyContent">
    <sch:rule xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:s="http://www.ascc.net/xml/schematron" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xi="http://www.w3.org/2001/XInclude" context="tei:surname | tei:forename | tei:persName | tei:author[not(@sameAs)] | tei:occupation | tei:settlement | tei:country | tei:rs | tei:workName | tei:characterName | tei:hi[not(.//tei:gap)] | tei:head | tei:note[not(@type='part')] | tei:placeName | tei:title">
      <sch:report test="normalize-space(.) = ''"><sch:name/> has whitespace only content</sch:report>
    </sch:rule>
  </pattern>
  <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="wegaPlaces-constraint-elementStartsWithWhitespace">
    <sch:rule xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:s="http://www.ascc.net/xml/schematron" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xi="http://www.w3.org/2001/XInclude" context="tei:surname | tei:forename | tei:persName[not(@type)] | tei:author | tei:occupation | tei:settlement | tei:country | tei:rs | tei:workName | tei:characterName | tei:hi | tei:placeName[not(parent::tei:address or parent::tei:birth or parent::tei:death)]">
      <sch:report test="matches(.,'^\s')">whitespace at the beginning of element <sch:name/>
         </sch:report>
    </sch:rule>
  </pattern>
</grammar>
